.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :active
    .columns.small-18= f.check_box :active, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :year
    .columns.small-18= f.text_field :year

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :work_line_id
    .columns.small-18= f.select :work_line_id, grouped_options_for_select(@budgetary_units.map { |i| [i.name, i.work_lines.map { |w| [w.name, w.id] }]}, f.object.work_line_id), include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :employees_number
    .columns.small-18= f.text_field :employees_number

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :ad_honorem
    .columns.small-18= f.check_box :ad_honorem, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :monthly_remuneration
    .columns.small-18= f.text_field :monthly_remuneration

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :expenses_remuneration
    .columns.small-18= f.text_field :expenses_remuneration

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :salary_category
    .columns.small-18= f.text_field :salary_category
