.row
  .columns.small-24
    %nav.nav
      = link_to api_v1_home_index_url, class: 'home' do
        = image_tag 'icon-home.png'
        Inicio
      = link_to 'Categoría de estándares', api_v1_standard_categories_url
      = link_to 'Marco de estándares', api_v1_information_standard_frames_url
      = link_to 'Estándares', api_v1_information_standards_url
      = link_to 'Tipo de instituciones', api_v1_institution_types_url
      = link_to 'Instituciones', api_v1_institutions_url
      = link_to 'Dependencias', api_v1_dependencies_url
      = link_to 'Listado de asesores', api_v1_consultants_url
      = link_to 'Funcionarios', api_v1_officials_url
      = link_to 'Funcionarios > Comités, Juntas, Consejos y otros', api_v1_committees_url
      = link_to 'Inventarios', api_v1_inventories_url
      = link_to 'Remuneraciones', api_v1_remunerations_url
      = link_to 'Unidades presupuestarias', api_v1_budgetary_units_url
      = link_to 'Notas aclaratorias', api_v1_disclaimers_url
      = link_to 'Viajes', api_v1_travels_url
      = link_to 'Obras en ejecución', api_v1_executing_works_url
      = link_to 'Categorías de Servicios', api_v1_services_categories_url
      = link_to 'Servicios', api_v1_services_url
      = link_to 'Pasos de Servicios', api_v1_service_steps_url
      = link_to 'Mecanismos de Participación', api_v1_participation_mechanisms_url
      = link_to 'Tipos de documentos', api_v1_document_categories_url
      = link_to 'Documentos', api_v1_documents_url
