.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    .panel#services-area
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"

      - if @show_form
        .row
          = link_to "Descarga CSV", institution_services_url(:format => "csv", :params => @fixed_params, :institution_id => @institution.id)
        = form_tag(institution_services_url(params[:institution_id], anchor: 'services-area'), method: :get, id: "officials") do
          .filters
            .row.align-justify.align-middle
              .columns.small-20.flex
                = text_field_tag "services_fields", nil, placeholder: 'Buscar en listado de servicios', value: params[:services_fields]
              .columns.small-4.flex
                = button_tag "Buscar", class: "btn"
              .columns.small-24.medium-11
                = select_tag "services_institution_dependency_id", options_for_select(@dependencies.collect{|p| [ p.name, p.id ] }, selected: params[:services_institution_dependency_id]), { include_blank: "-- Todas las dependencias --" }
              .columns.small-24.medium-11
                = select_tag "services_category_id", options_for_select(@services_categories.collect{|p| [ p.name, p.id ] }.uniq, selected: params[:services_category_id]), { include_blank: "-- Todas las categorías --" }

        - if @results.size > 0
          .table.spaced
            - @results.each do |item|
              .row.shareable
                .columns.small-12.medium-12.large-4.small-order-3.medium-order-3.large-order-1
                  = item.updated_at.strftime("%d/%m/%Y")
                .columns.small-24.medium-24.large-20.small-order-1.medium-order-1.large-order-2
                  = link_to institution_service_url(@institution, item) do
                    = item.name
                .columns.small-24.medium-24.large-20.small-order-2.medium-order-2.large-order-3
                  .text-mutted
                    = "#{item.institution_dependency.nil? ? '' : item.institution_dependency.name.to_s+" » " }" + item.description.to_s
                .columns.small-12.medium-12.large-4.small-order-4.medium-order-4.large-order-4
                  = link_to nil do
                    = image_tag 'icon-share.png'
                    Compartir
                .columns.small-24.medium-24.large-20.small-order-5.medium-order-5.large-order-5
                  .text-mutted
                    = "Creación: " + l(item.created_at, format: :localized2) rescue ""
                    %br
                    = "Actualización: " + l(item.updated_at, format: :localized2) rescue ""
          = will_paginate @results
        - else
          %h2
            No se encontraron resultados
    = render partial: "layouts/documents/document", locals: { years: @years,
      documents: @documents, doc_items: @doc_items,
      url: institution_services_url(params[:institution_id], anchor: 'documents-area'),
      document_categories: @document_categories }
