.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    = link_to 'Regresar al listado', institution_services_url(@institution), class: 'back'
    = link_to institution_service_url(@institution, @service, format: :pdf), class: "back float-right", title: "Exportar a PDF" do
      = image_tag 'icon-pdf.png'
      Vista en PDF
    .clearfix

    .panel
      %h2
        = @service.name
      %p
        = @service.description

    .panel
      %h2 Requisitos generales
      %p
        = simple_format @service.requirements
    .panel
      %h2 Datos generales

      .table.no-border.no-margin
        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Tiempo de respuesta
          .columns.small-24.medium-16.large-17
            = @service.response_time

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Área encargada
          .columns.small-24.medium-16.large-17
            = @service.responsible_area

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Encargado del servicio
          .columns.small-24.medium-16.large-17
            = @service.responsible_name

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Dirección donde solicitar el servicio
          .columns.small-24.medium-16.large-17
            = simple_format @service.address

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Horario
          .columns.small-24.medium-16.large-17
            = @service.schedule

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Observaciones
          .columns.small-24.medium-16.large-17
            = @service.observations

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Costo total del servicio
          .columns.small-24.medium-16.large-17
            = @service.cost rescue nil
    - if @service.service_attachments.size > 0
      .panel
        %h2 Archivos adjuntos
        .table.no-border.no-margin
          - @service.service_attachments.each do |attachment|
            .row.align-justify
              .columns.small-24.medium-7.large-6
                %strong Nombre archivo adjunto
              .columns.small-24.medium-16.large-17
                = attachment.name rescue nil
            .row.align-justify
              .columns.small-24.medium-7.large-6
                %strong Descripción archivo adjunto
              .columns.small-24.medium-16.large-17
                = attachment.description rescue nil
            .row.align-justify
              .columns.small-24.medium-7.large-6
                %strong Archivo
              .columns.small-24.medium-16.large-17
                = link_to "Descargar", attachment.attachment.url, class: "button", target: "_blank"

    - if @service.service_steps.size > 0
      - @service.service_steps.each do |step|
        .panel
          %h2
            = "Paso #{step.correlative}"
            %small
              = step.name
          %p
            = step.description

          .table.no-border.no-margin
            .row.align-justify
              .columns.small-24.medium-7.large-6
                %strong Persona responsable
              .columns.small-24.medium-16.large-17
                = step.responsible_name

            .row.align-justify
              .columns.small-24.medium-7.large-6
                %strong Requisitos
              .columns.small-24.medium-16.large-17
                = step.requirements

            .row.align-justify
              .columns.small-24.medium-7.large-6
                %strong Duración
              .columns.small-24.medium-16.large-17
                = step.schedule

            .row.align-justify
              .columns.small-24.medium-7.large-6
                %strong Tiempo de respuesta
              .columns.small-24.medium-16.large-17
                = step.response_time

            .row.align-justify
              .columns.small-24.medium-7.large-6
                %strong Documentos a presentar
              .columns.small-24.medium-16.large-17
                = step.documents_to_present
          - if step.service_step_attachments.size > 0
            %br
            %h2 Archivos adjuntos
            .table.no-border.no-margin
              - step.service_step_attachments.each do |step_attachment|
                .row.align-justify
                  .columns.small-24.medium-7.large-6
                    %strong Nombre archivo adjunto
                  .columns.small-24.medium-16.large-17
                    = step_attachment.name rescue nil
                .row.align-justify
                  .columns.small-24.medium-7.large-6
                    %strong Descripción archivo adjunto
                  .columns.small-24.medium-16.large-17
                    = step_attachment.description rescue nil
                .row.align-justify
                  .columns.small-24.medium-7.large-6
                    %strong Archivo
                  .columns.small-24.medium-16.large-17
                    = link_to "Descargar", step_attachment.attachment.url, class: "button", target: "_blank"

    .panel
      .table.no-border.no-margin
        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de creación
          .columns.small-24.medium-16.large-17
            = l @service.created_at, format: :localized2

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de última actualización
          .columns.small-24.medium-16.large-17
            = l @service.updated_at, format: :localized2

    = link_to 'Regresar al listado', institution_services_url(@institution), class: 'back'
