.row
  .columns.small-24
    .text-left.responsive
      %figure.institution-logo
        = image_tag @institution.avatar.url(:profile) rescue nil

  .columns.small-24
    %nav.nav
      / Show only if there's not a selected item
      %span.placeholder
        \-- Seleccione un estándar --

      = link_to root_url, class: 'home' do
        = image_tag 'icon-home.png'
        Inicio

      - unless @institution_standards.nil?
        - @institution_standards.each do |frame, standards|
          %strong
            = InformationStandardFrame.find(frame).name
          - standards.each do |standard|
            = render partial: 'institutions/standard_url', locals: {institution: @institution, standard: standard}
            =# link_to standard.name, institution_document_url(@institution, standard)
