- case standard.id
  - when Config[:dynamical_information_standards][:executing_works]
    = link_to(standard.name, institution_executing_works_url(institution))
  - when Config[:dynamical_information_standards][:resources_to_private_recipients]
    = link_to(standard.name, institution_privates_url(institution))
  - when Config[:dynamical_information_standards][:institution_procurements]
    = link_to(standard.name, institution_contracts_url(institution))
  - when Config[:dynamical_information_standards][:institution_services]
    = link_to(standard.name, institution_services_url(institution))
  - when Config[:dynamical_information_standards][:institution_officials]
    = link_to(standard.name, institution_officials_url(institution))
  - when Config[:dynamical_information_standards][:institution_consultants]
    = link_to(standard.name, institution_consultants_url(institution))
  - when Config[:dynamical_information_standards][:institution_remunerations]
    = link_to(standard.name, institution_remunerations_url(institution))
  - when Config[:dynamical_information_standards][:institution_inventory_categories]
    = link_to(standard.name, institution_inventories_url(institution))
  - when Config[:dynamical_information_standards][:institution_travels]
    = link_to(standard.name, institution_travels_url(institution))
  - when Config[:dynamical_information_standards][:institution_recruitment_results]
    -# = link_to(standard.name, institution_recruitment_results_url(institution))
    = ''
  - when Config[:dynamical_information_standards][:participation_mechanisms]
    = link_to(standard.name, institution_participation_mechanisms_url(institution))
  - when Config[:dynamical_information_standards][:institution_recruitment_process]
    = link_to 'Procedimientos y resultados de selección', institution_selections_url(@institution)
  - else
    = link_to(standard.name, institution_document_url(institution, standard))
