.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    .panel
      .row.align-justify
        .columns.small-17.medium-17.large-20
          - unless @institution.oir_addresses.nil?
            %h2 Oficina de Información - OIR / UAIP

            - @institution.oir_addresses.each do |oir|
              .row
                .columns.small-24.medium-23.large-11
                  %section
                    %strong
                      Dirección
                    %address
                      = oir.address
                  %section
                    %strong
                      Teléfono(s)
                    %phone
                      = image_tag 'icon-phone-small.png'
                      = oir.phone
                    %br
                    = link_to 'Ver mapa', "http://maps.google.com/?q="+"#{@coords.lat.to_s}"+","+"#{@coords.lng.to_s}", target: "_blank"

                .columns.small-24.medium-23.large-13
                  %section
                    - unless oir.schedule.nil?
                      %strong
                        Horario de atención
                      %dl
                        = oir.schedule_to_human2(oir.schedule).html_safe

        .columns.small-6.medium-6.large-4
          .text-right
            .score
              .number
                = @institution.score
              %small Calificación publicación oficiosa
              - if @institution.rating_report.present?
                = link_to 'Ver informe', @institution.rating_report.url, target: '_blank'

      .row.align-middle
        .columns.small-24.medium-24.large-9
          %section
            %strong Oficial de información
            %p
              %b
                = @institution.officer_name
            %p
              = image_tag 'icon-mail-small.png'
              = mail_to @institution.officer_email
            - if @institution.officer_designation_date
              %p
                = image_tag 'icon-person-small.png'
                Nombrado el
                = l @institution.officer_designation_date, format: :long rescue nil
                - if @institution.officer_designation.present?
                  = link_to 'Ver nombramiento', @institution.officer_designation.url(:original), target: '_blank'


        .columns.small-24.medium-24.large-15
          .text-center
            = link_to 'http://www.gobiernoabierto.gob.sv/information_requests/new', target: '_blank', class: 'btn' do
              Solicite información pública
            = link_to 'http://www.gobiernoabierto.gob.sv/complaints/new', target: '_blank', class: 'btn' do
              Haga una denuncia




    - if @marked_documents.count > 0
      .panel
        %h2 Documentos destacados
        .row.align-middle
          .columns.small-24.medium-24.large-24
            .table.spaced
              - @marked_documents.each do |document|
                .row.shareable
                  .columns.small-24.medium-8.large-4.small-order-1.medium-order-3.large-order-1
                    = l document.updated_at, format: :localized2
                  .columns.small-24.medium-24.large-12.small-order-2.medium-order-1.large-order-2
                    = link_to download_institution_document_url(@institution, document), :target => "_blank" do
                      = document.name
                  .columns.small-12.medium-8.large-4.small-order-4.medium-order-4.large-order-3
                    = "#{document.file_extension} | #{number_to_human_size(document.document.size)}"
                  .columns.small-24.medium-24.large-20.small-order-3.medium-order-2.large-order-4
                    .text-mutted
                      = raw summarized_text(document.description, 22, true)
                    .text-bold
                      = document.document_category.name rescue ""
                      %br
                      = "Año: " + document.year.to_s rescue nil
                  .columns.small-12.medium-8.large-4.small-order-5.medium-order-5.large-order-5
                    = link_to nil, data: { sharer: true, provider: :facebook, url: "#{request.original_url}#{document.document.url}"} do
                      = image_tag 'icon-share.png'
                      Compartir


    .panel
      %h2 Institución en datos

      .row.align-justify.text-center
        .columns.small-12.medium-12.large-6
          .featured-standard
            = image_tag 'icon-info-documents.png'
            %strong.number
              = number_with_delimiter @documents_number
            Documentos

        .columns.small-12.medium-12.large-6
          .featured-standard
            = image_tag 'icon-info-updated-at.png'
            %strong.number
              = @institution.updated_at.strftime("%d/%m/%Y")
            Última actualización

        .columns.small-12.medium-12.large-6
          .featured-standard
            = image_tag 'icon-info-downloads.png'
            %strong.number
              = number_with_delimiter @documents_downloads
            Descargas de documentos

        .columns.small-12.medium-12.large-6
          = link_to institution_services_url(@institution), class: 'featured-standard' do
            = image_tag 'icon-info-services.png'
            %strong.number
              = number_with_delimiter @services_number
            Servicios disponibles

      .row.align-justify.text-center
        .columns.small-24.medium-24.large-12
          %br
          %br
          %h2 Estándares más descargados
          = pie_chart(@information_standard_top_downloaded, donut: true, legend: false)

        .columns.small-24.medium-24.large-10
          %br
          %br
          %h2 Últimas visitas
          = line_chart(((Date.current - 7.days)..(Date.current)).to_a.map {  |date| { date.to_s => rand(50) } }.inject(:merge))

    - if @most_downloaded_docs.size > 0
      .panel
        %h2 Documentos más descargados

        .table

          - @most_downloaded_docs.each do |doc|
            .row.align-justify.align-middle.shareable
              .columns.small-2.medium-1.large-1.small-order-1.medium-order-1.large-order-1
                = image_tag 'icon-doc.png'
              .columns.small-11.medium-6.large-3.small-order-4.medium-order-3.large-order-2
                = doc.downloads
              .columns.small-22.medium-15.large-7.small-order-2.medium-order-2.large-order-3
                = link_to institution_document_url(@institution, doc.information_standard_id), target: "_blank" do
                  = doc.name
              .columns.small-24.medium-16.large-7.small-order-3.medium-order-4.large-order-4
                = truncate(doc.description, size: 100, omission: "...")
              .columns.small-11.medium-6.large-4.small-order-5.medium-order-5.large-order-5
                = link_to nil do
                  = image_tag 'icon-share.png'
                  Compartir

      .row.align-justify
        -# ?
          .columns.small-24.medium-24.large-11
            .panel
              %h2 Empleos disponibles

              .table.no-border.no-margin
                - 3.times do
                  .row.align-justify.align-middle
                    .columns.small-2.medium-2.large-2
                      = image_tag 'icon-doc.png'
                    .columns.small-14.medium-14.large-14
                      = link_to 'Auxiliar de servicio al cliente certificado', nil
                    .columns.small-6.medium-6.large-6
                      $2999.99

        .columns.small-24.medium-24.large-11
          .panel
            %h2 Redes sociales de la institución
            .table.no-border.no-margin
              .row.align-justify.align-middle
                .columns.small-2.medium-2.large-2
                  = image_tag 'icon-website-small.png'
                .columns.small-6.medium-5.large-6
                  Website
                .columns.small-15.medium-16.large-15
                  = link_to @institution.website_url, @institution.website_url, target: '_blank'

              .row.align-justify.align-middle
                .columns.small-2.medium-2.large-2
                  = image_tag 'icon-twitter-small.png'
                .columns.small-6.medium-5.large-6
                  Twitter
                .columns.small-15.medium-16.large-15
                  = link_to @institution.twitter_username, @institution.twitter_url, target: '_blank'

              .row.align-justify.align-middle
                .columns.small-2.medium-2.large-2
                  = image_tag 'icon-facebook-small.png'
                .columns.small-6.medium-5.large-6
                  Facebook
                .columns.small-15.medium-16.large-15
                  = link_to @institution.facebook_username, @institution.facebook_url, target: '_blank'

              .row.align-justify.align-middle
                .columns.small-2.medium-2.large-2
                  = image_tag 'icon-flickr-small.png'
                .columns.small-6.medium-5.large-6
                  Flickr
                .columns.small-15.medium-16.large-15
                  = link_to @institution.flickr_username, @institution.flickr_url, target: '_blank'

              .row.align-justify.align-middle
                .columns.small-2.medium-2.large-2
                  = image_tag 'icon-youtube-small.png'
                .columns.small-6.medium-5.large-6
                  Youtube
                .columns.small-15.medium-16.large-15
                  = link_to @institution.youtube_username, @institution.youtube_url, target: '_blank'

        .columns.small-24.medium-24.large-11
          .panel
            %h2 Información administrativa
            .table.no-border.no-margin
              .row.align-justify.align-middle
                .columns.small-2.medium-2.large-2
                  = image_tag 'bullet-2.png'
                .columns.small-11.medium-12.large-10
                  Costo de reproducción de documentos
                .columns.small-11.medium-12.large-10
                  = number_to_currency @institution.reproduction_amount
              .row.align-justify.align-middle
                .columns.small-2.medium-2.large-2
                  = image_tag 'bullet-2.png'
                .columns.small-11.medium-12.large-10
                  Costo de certificación de documentos
                .columns.small-11.medium-12.large-10
                  = number_to_currency @institution.certification_amount
              .row.align-justify.align-middle
                .columns.small-2.medium-2.large-2
                  = image_tag 'bullet-2.png'
                .columns.small-11.medium-12.large-10
                  Tipo de documento administrativo
                .columns.small-11.medium-12.large-10
                  = t("activerecord.enum.institution.administrative_document_type.#{@institution.administrative_document_type}") rescue nil
              .row.align-justify.align-middle
                .columns.small-2.medium-2.large-2
                  = image_tag 'bullet-2.png'
                .columns.small-11.medium-12.large-10
                  Archivo administrativo
                .columns.small-11.medium-12.large-10
                  = link_to "Archivo", @institution.administrative_document.url rescue nil
