.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    = link_to 'Regresar al listado', institution_travels_url(@institution), class: 'back float-left'
    = link_to institution_travel_url(@institution, @travel, format: :pdf), class: "back float-right", title: "Exportar a PDF" do
      = image_tag 'icon-pdf.png'
      Vista en PDF
    .clearfix

    .panel
      %h2
        = @travel.name

      .table.no-border.no-margin
        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Funcionario que viaja
          .columns.small-24.medium-17.large-17
            = @travel.officer_name

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Cargo del funcionario
          .columns.small-24.medium-17.large-17
            = @travel.officer_position

        - unless @travel.institution_dependency_id.blank?
          .row.align-justify
            .columns.small-24.medium-6.large-6
              %strong Dependencia
            .columns.small-24.medium-17.large-17
              = @travel.institution_dependency.name rescue nil

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Destino
          .columns.small-24.medium-17.large-17
            = @travel.destination

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de salida
          .columns.small-24.medium-17.large-17
            = l @travel.departure_date, format: :localized

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de regreso
          .columns.small-24.medium-17.large-17
            = l @travel.return_date, format: :localized

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Valor del pasaje
          .columns.small-24.medium-17.large-17
            = number_to_currency(@travel.passage_amount)

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Pasaje pagado con
          .columns.small-24.medium-17.large-17
            - unless @travel.passage_payer.blank?
              = t("activerecord.enum.travel.passage_payer.#{@travel.passage_payer}")

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Comentarios pago de pasaje
          .columns.small-24.medium-17.large-17
            = @travel.passage_payer_comments

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Valor de viáticos
          .columns.small-24.medium-17.large-17
            = number_to_currency(@travel.viatical_amount)

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Viáticos pagado con
          .columns.small-24.medium-17.large-17
            - unless @travel.viatical_payer.blank?
              = t("activerecord.enum.travel.viatical_payer.#{@travel.viatical_payer}")

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Comentarios pago de viáticos
          .columns.small-24.medium-17.large-17
            = @travel.viatical_payer_comments

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Otros gastos
          .columns.small-24.medium-17.large-17
            = number_to_currency(@travel.expenses_amount)

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Otros gastos pagado con
          .columns.small-24.medium-17.large-17
            - unless @travel.expenses_payer.blank?
              = t("activerecord.enum.travel.expenses_payer.#{@travel.expenses_payer}")

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Comentarios pago de otros gastos
          .columns.small-24.medium-17.large-17
            = @travel.expenses_payer_comments

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de creación
          .columns.small-24.medium-17.large-17
            = l @travel.created_at, format: :localized2

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de última actualización
          .columns.small-24.medium-17.large-17
            = l @travel.created_at, format: :localized2

    .panel
      %h2 Detalles

      .table.no-border.no-margin
        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Objetivo del viaje
          .columns.small-24.medium-17.large-17
            = @travel.objective
        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Observaciones
          .columns.small-24.medium-17.large-17
            = @travel.observations

    = link_to 'Regresar al listado', institution_travels_url(@institution), class: 'back'
