.row.align-middle
  .columns.small-6
    .actions
      .row.align-stretch
        .columns.shrink
          %input.decorated-checkbox.box{ type: :checkbox, class: 'all', ng: { model: 'checkboxes.checked' }}

        .columns
          %div{ ng: { show: 'checkboxes.checked || indeterminate' }}
            = link_to nil, class: 'btn', 'ng-click' => 'deleteSelection($event)' do
              %i.material-icons delete

            %span.btn.drop
              %i.material-icons border_color
              %ul
                %li= link_to 'Activar / Desactivar', nil, 'ng-click' => "showForm('enabled')"

          %strong.total-entries{ 'ng-bind' => "total_entries + ' Registros'" }


  .columns.small-18
    .visibility-controls
      = label_tag nil, 'ng-repeat' => 'col in table.cols' do
        %input{ type: :checkbox, ng: { model_options: "{ getterSetter: true }", model: 'col.show' }}
        %span {{ col.title() }}
