.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true
- else
  = f.hidden_field :institution_id, value: current_admin.institutions.first.id

- if current_admin.manage_dependencies?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_dependency_id
      .columns.small-18= f.select :institution_dependency_id, @institution_dependencies.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :information_standard_id
    .columns.small-18= f.select :information_standard_id, @information_standards.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_area :description, rows: 3

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :file

    - if f.object.persisted? && f.object.file.present?
      .columns.small-15= f.file_field :file
      .columns.small-2
        = link_to f.object.file.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :file
