%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons border_color
            Editar

          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons delete
            Eliminar
      %td{ data: { title: "'Activo'" }, 'ng-if' => 'true', filter: "{ enabled_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'enabled'" }
        %input{ type: :checkbox, class: 'decorated-checkbox check', 'ng-model' => 'item.enabled', 'ng-click' => "submitField($event, 'enabled', item)" }
      - unless current_admin.one_institution?
        %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.institution_id }}
      - if current_admin.manage_dependencies?
        %td{ data: { title: "'Dependencia'" }, 'ng-if' => 'true', filter: "{ institution_dependency_id_eq: 'select' }", 'filter-data' => "getSelectList('institution_dependencies')", sortable: "'institution_dependency_name'" } {{ item.institution_dependency_id }}
      %td{ data: { title: "'Estándar de información'" }, 'ng-if' => 'true', filter: "{ information_standard_id_eq: 'select' }", 'filter-data' => "getSelectList('information_standards')", sortable: "'information_standard_name'" } {{ item.information_standard_id }}
      %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}
      %td{ data: { title: "'Descripcion'" }, 'ng-if' => 'true', filter: "{ position_icont: 'text' }", sortable: "'position'" } {{ item.position }}
      %td{ data: { title: "'Fecha de creación'" }, 'ng-if' => 'true', filter: "table.dateFilter('created_at')", sortable: "'created_at'" } {{ item.created_at | date:'dd/MM/yy hh:mm a' }}
      %td{ data: { title: "'Fecha de actualización'" }, 'ng-if' => 'true', filter: "table.dateFilter('updated_at')", sortable: "'updated_at'" } {{ item.updated_at | date:'dd/MM/yyyy hh:mm a' }}
