.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    .panel#items-area
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"

      - if @show_form
        .row
          = link_to "Descarga CSV", institution_inventories_url(:format => "csv", :params => @fixed_params, :institution_id => @institution.id)
        = form_tag(institution_inventories_url(params[:institution_id], anchor: 'items-area'), method: :get, id: "inventories") do
          = render partial: "layouts/documents/documents_hidden_fields"
          .filters
            .row.align-justify.align-middle
              .columns.small-20.flex
                = text_field_tag "inv_name", nil, placeholder: 'Buscar en inventario', value: params[:inv_name]
              .columns.small-4.flex
                = button_tag "Buscar", class: "btn"
              .columns.small-24.medium-11.flex
                = select_tag "inv_year", options_for_select(@years_ii, selected: params[:inv_year]), { include_blank: "-- Todos los años --" } rescue nil

        - if @results.size > 0
          .table.spaced.spaced-columns.responsive
            .row.align-justify
              .columns.large-8.medium-8
                %strong Nombre del bien
              .columns.large-6.medium-6
                %strong Fecha de adquisición
              .columns.large-6.medium-6
                %strong Valor estimado actual
              .columns.large-4.medium-4
                %strong Año

            - @results.each do |item|
              .row.align-justify.align-middle
                .columns.large-8
                  = link_to institution_inventory_url(@institution, item) do
                    = item.name
                .columns.large-6
                  - unless item.acquisition_date.nil?
                    = l item.acquisition_date, format: :long
                .columns.large-6
                  = number_to_currency item.current_value
                .columns.large-4
                  = item.year
          = will_paginate @results
        - else
          %h2
            No se encontraron resultados

    = render partial: "layouts/documents/document", locals: { years: @years,
      documents: @documents, doc_items: @doc_items,
      url: institution_inventories_url(params[:institution_id], anchor: 'documents-area'),
      document_categories: @document_categories }
