.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    = link_to 'Regresar al listado', institution_inventories_url(@institution), class: 'back'
    = link_to institution_inventory_url(@institution, @item, format: :pdf), class: "back float-right", title: "Exportar a PDF" do
      = image_tag 'icon-pdf.png'
      Vista en PDF
    .clearfix

    .panel
      %h2
        = "Detalle del bien"

      .table.no-border.no-margin
        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Nombre del bien
          .columns.small-24.medium-17.large-17
            = @item.name

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Descripción
          .columns.small-24.medium-17.large-17
            = @item.description

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Año
          .columns.small-24.medium-17.large-17
            = @item.year

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Marca y/o modelo
          .columns.small-24.medium-17.large-17
            = @item.brand

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Valor de adquisición
          .columns.small-24.medium-17.large-17
            = number_to_currency @item.market_value

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Valor estimado actual
          .columns.small-24.medium-17.large-17
            = number_to_currency @item.current_value

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de adquisición
          .columns.small-24.medium-17.large-17
            = l @item.acquisition_date, format: :long rescue "-"

        - if @item.file.exists?
          .row.align-justify
            .columns.small-24.medium-6.large-6
              %strong Comprobante de adquisición
            .columns.small-24.medium-17.large-17
              = link_to "Descargar", @item.file.url, target: "_blank"

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de creación
          .columns.small-24.medium-17.large-17
            = l @item.created_at, format: :localized2

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de última actualización
          .columns.small-24.medium-17.large-17
            = l @item.updated_at, format: :localized2

    = link_to 'Regresar al listado', institution_inventories_url(@institution), class: 'back'
