.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'api/v1/nav'

  .columns.small-24.medium-15.large-18
    %h1
      API

    .panel#officials-area

      %h2
        Conceptos básicos
      %p
        API (Application Program Interface, por sus siglas en inglés), es el conjunto de reglas (código) y especificaciones que las aplicaciones pueden seguir para comunicarse entre ellas.

      %h2
        Transparencia
      %p
        Con la finalidad de transparentar los procesos que se realizan en este portal, se pone a disposición la siguiente API para que cualquier usuario con conocimientos informáticos, pueda consumir la información que se genera en este portal, para fines que estime conveniente.

      %h2
        ¿Cómo usarla?
      %p
        Existe una gran gama de herramientas para consumo de API, para los diversos lenguajes de programación. Para fines prácticos se utiliza una terminal del sistema operativo y se digita el siguiente comando:
      %pre
        curl -i -H "Content-type: application/json" GET https://transparencia.gob.sv/api/v1/institutions.json
      %p
        En el menú de esta sección, encontrará las tablas que se ponen a disposición que conforman a este portal, además de mostrar ejemplos para la consulta de la información.
