.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    .panel#consultants-area
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"
      - if @show_form
        .row
          = link_to "Descarga CSV", institution_consultants_url(:format => "csv", :params => @fixed_params, :institution_id => @institution.id)
        = form_tag(institution_consultants_url(params[:institution_id], anchor: 'consultants-area'), method: :get, id: "consultants") do
          = render partial: "layouts/documents/documents_hidden_fields"
          .filters
            .row.align-justify.align-middle
              .columns.small-20.flex
                = text_field_tag "consultants_name", nil, placeholder: 'Buscar en listado de asesores', value: params[:consultants_name]
              .columns.small-4.flex
                = button_tag "Buscar", class: "btn"
              .columns.small-11.flex
                = select_tag "consultants_active", options_for_select([["Vigente", true],["No vigente", false]], :selected => params[:consultants_active]), include_blank: "-- Todos los asesores --"
              .columns.small-11.flex
                = select_tag "assigned_unit", options_for_select(@assigned_units.collect{|u| [ u.titleize, u ] }, selected: params[:assigned_unit]), { include_blank: "-- Todas las unidades administrativas --" } rescue nil

              .columns.small-24.medium-11.flex
                = select_tag "consultants_institution_dependency_id", options_for_select(@dependencies.collect{|p| [ p.name, p.id ] }, selected: params[:consultants_institution_dependency_id]), { include_blank: "-- Todas las dependencias --" } rescue nil


        - if @results.size > 0
          .table.spaced
            - @results.each do |item|
              .row.align-justify
                .columns.small-24.medium-11
                  = link_to item.name, institution_consultant_url(@institution, item)
                  %br
                  = item.active_string
                .columns.small-24.medium-12
                  = item.position
                .columns.small-24.medium-24
                  .text-mutted
                    = "Creación: " + l(item.created_at, format: :localized2) rescue ""
                    %br
                    = "Actualización: " + l(item.updated_at, format: :localized2) rescue ""
          = will_paginate @results
        - else
          %h2 No se encontraron resultados

    = render partial: "layouts/documents/document", locals: { years: @years,
      documents: @documents, doc_items: @doc_items,
      url: institution_consultants_url(params[:institution_id], anchor: 'documents-area'),
      document_categories: @document_categories }
