.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    = link_to 'Regresar al listado', institution_consultants_url(@institution), class: 'back float-left'
    = link_to institution_consultant_url(@institution, @consultant, format: :pdf), class: "back float-right", title: "Exportar a PDF" do
      = image_tag 'icon-pdf.png'
      Vista en PDF
    .clearfix

    .panel
      %h2.text-upper
        = @consultant.name + " (#{@consultant.active_string})"

      .table.no-border.no-margin
        .row.align-justify
          .columns.small-2.medium-2.large-1
            = image_tag 'icon-person-small.png'
          .columns.small-21.medium-5.large-3
            %strong Cargo
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = @consultant.position
        .row.align-justify
          .columns.small-2.medium-2.large-1
            &nbsp;
          .columns.small-21.medium-5.large-3
            %strong Unidad Administrativa
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = @consultant.assigned_unit
        .row.align-justify
          .columns.small-2.medium-2.large-1
            &nbsp;
          .columns.small-21.medium-5.large-3
            %strong Remuneración
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = number_to_currency(@consultant.remuneration)
        - unless @consultant.institution_dependency_id.blank?
          .row.align-justify
            .columns.small-2.medium-2.large-1
              &nbsp;
            .columns.small-21.medium-5.large-3
              %strong Dependencia
            .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
              = @consultant.institution_dependency.name rescue nil
        .row.align-justify
          .columns.small-2.medium-1.large-1
            = image_tag 'icon-phone-small-2.png'
          .columns.small-21.medium-5.large-3
            %strong Teléfono
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = @consultant.phone

        .row.align-justify
          .columns.small-2.medium-1.large-1
            = image_tag 'icon-mail-small-2.png'
          .columns.small-21.medium-5.large-3
            %strong Email
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = mail_to @consultant.email

        .row.align-justify
          .columns.small-2.medium-1.large-1
          .columns.small-21.medium-5.large-3
            %strong Fecha de creación
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = l @consultant.created_at, format: :localized2

        .row.align-justify
          .columns.small-2.medium-1.large-1
          .columns.small-21.medium-5.large-3
            %strong Fecha de última actualización
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = l @consultant.updated_at, format: :localized2

        -# No existe el campo
          .row.align-justify
            .columns.small-2.medium-1.large-1
              = image_tag 'icon-location-small.png'
            .columns.small-21.medium-5.large-3
              %strong Dirección
            .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
              Km. 5 1/2 carretera a Santa Tecla, Plantel MOP, San Salvador

    .panel.ckeditor
      %h2 Currículum - Formación académica
      = raw @consultant.applied_studies

    .panel.ckeditor
      %h2 Currículum - Experiencia laboral
      = raw @consultant.work_experience

    .panel.ckeditor
      %h2 Currículum - Funciones
      = raw @consultant.functions


    = link_to 'Regresar al listado', institution_consultants_url(@institution), class: 'back'
