%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons border_color
            Editar

          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons delete
            Eliminar
      %td{ data: { title: "'Activo'" }, 'ng-if' => 'true', filter: "{ enabled_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'enabled'" }
        %input{ type: :checkbox, class: 'decorated-checkbox check', 'ng-model' => 'item.enabled', 'ng-click' => "submitField($event, 'enabled', item)" }
      %td{ data: { title: "'Prioridad'" }, 'ng-if' => 'true', sortable: "'priority'" } {{ item.priority }}
      %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}
