.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name
%br
%br
%h2
  Estándares de información

= f.fields_for :standard_category_infos do |ff|
  .control
    .row.align-middle.align-justify
      .columns.small-16
        = ff.label :information_standard, ff.object.information_standard.name
      .columns.small-2
        = ff.check_box :information_standard_id, { checked: f.object.information_standards.include?(ff.object.information_standard), class: 'decorated-checkbox box' }, ff.object.information_standard.id, 0
      .columns.small-4
        = ff.select :linked_institution_id, @institutions.map{ |i| [i.name, i.id] }, { include_blank: true }
