.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :year
    .columns.small-18= f.text_field :year

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_field :description

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :brand
    .columns.small-18= f.text_field :brand

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :market_value
    .columns.small-18= f.text_field :market_value

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :current_value
    .columns.small-18= f.text_field :current_value

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :acquisition_date
    .columns.small-18= f.date_select :acquisition_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 2000 }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :file

    - if f.object.persisted? && f.object.file.present?
      .columns.small-15= f.file_field :file
      .columns.small-2
        = link_to f.object.file.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :file
