.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    .panel#contracts-area
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"

      - if @show_form
        .row
          = link_to "Descarga CSV", institution_contracts_url(:format => "csv", :params => @fixed_params, :institution_id => params[:institution_id])

        -# = search_form_for @q do |f|


        = form_tag(institution_contracts_url(params[:institution_id], anchor: 'contracts-area'), method: :get, id: "contracts") do
          = render partial: "layouts/documents/documents_hidden_fields"
          .filters
            .row.align-justify.align-middle
              .columns.small-20.flex
                = text_field_tag "contracts_counterpart_name_or_name", nil, placeholder: 'Buscar contrataciones y adquisiciones', value: params[:contracts_counterpart_name_or_name]
              .columns.small-4.flex
                = button_tag "Buscar", class: "btn"
              .columns.small-24.medium-11.flex
                = select_tag "contracts_date", options_for_select(@contract_years, :selected => params[:contracts_date]), include_blank: "-- Todos los años --"
              .columns.small-24.medium-11.flex
                = select_tag "contracts_institutional_area", options_for_select(@areas, selected: params[:contracts_institutional_area]), { include_blank: "-- Todas las areas institucionales --" } rescue nil

        - if @results.size > 0
          .table.spaced.spaced-columns.responsive
            .row.align-justify
              .columns.large-12
                %strong Objeto
              .columns.large-7
                %strong Forma de contratación
              .columns.large-4
                %strong Monto

            - @results.each do |item|

              .row.align-justify.align-middle
                .columns.small-24.medium-7.th
                  %strong Objeto
                .columns.small-24.medium-16.large-12
                  = link_to item.name, institution_contract_url(@institution, item)
                  .text-mutted
                    = "Fecha de contrato / orden de compra "
                    = l item.start_date, format: :long rescue nil

                .columns.small-24.medium-7.th
                  %strong Tipo de contratación
                .columns.small-24.medium-16.large-7
                  = item.form_of_contract
                .columns.small-24.medium-7.th
                  %strong Monto
                .columns.small-24.medium-16.large-4
                  = number_to_currency item.amount
                .columns.small-24.medium-24
                  .text-mutted
                    = "Creación: " + l(item.created_at, format: :localized2) rescue ""
                    %br
                    = "Actualización: " + l(item.updated_at, format: :localized2) rescue ""

          = will_paginate @results
        - else
          %h2 No se encontraron resultados

    = render partial: "layouts/documents/document", locals: { years: @years,
      documents: @documents, doc_items: @doc_items,
      url: institution_contracts_url(params[:institution_id], anchor: 'documents-area'),
      document_categories: @document_categories }
