.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    = link_to 'Regresar al listado', institution_contracts_url(@institution), class: 'back float-left'
    = link_to institution_contract_url(@institution, @contract, format: :pdf), class: "back float-right", title: "Exportar a PDF" do
      = image_tag 'icon-pdf.png'
      Vista en PDF
    .clearfix

    .panel
      %h2= @contract.name

      .table.no-border.no-margin

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Código de adquisición o contratación
          .columns.small-24.medium-16.large-17
            = @contract.adquisition_code

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Área institucional
          .columns.small-24.medium-16.large-17
            = @contract.institutional_area

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Objeto
          .columns.small-24.medium-16.large-17
            = @contract.name

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Área institucional
          .columns.small-24.medium-16.large-17
            = @contract.institutional_area

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Monto
          .columns.small-24.medium-16.large-17
            = number_to_currency @contract.amount

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Nombre de la contraparte
          .columns.small-24.medium-16.large-17
            = @contract.counterpart_name

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Plazos de cumplimiento
          .columns.small-24.medium-16.large-17
            = @contract.compliance_deadlines

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Tipo de contratación
          .columns.small-24.medium-16.large-17
            = @contract.form_of_contract

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de contrato / Órden de compra
          .columns.small-24.medium-16.large-17
            = l @contract.start_date, format: :long rescue nil

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Código de contrato / Órden de compra
          .columns.small-24.medium-16.large-17
            = @contract.contract_code

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Características de la contraparte
          .columns.small-24.medium-16.large-17
            = @contract.counterpart_info

        - if @contract.attachment.present?
          .row.align-justify
            .columns.small-24.medium-6.large-6
              %strong Archivo adjunto
            .columns.small-24.medium-17.large-17
              = link_to "Descargar", @contract.attachment.url, target: "_blank"

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de creación
          .columns.small-24.medium-16.large-17
            = l @contract.created_at, format: :localized2 rescue nil

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de última actualización
          .columns.small-24.medium-16.large-17
            = l @contract.updated_at, format: :localized2 rescue nil


    = link_to 'Regresar al listado', institution_contracts_url(@institution), class: 'back'
