%header
  .row.align-middle
    .columns.shrink
      %span.menu.drop
        %i.material-icons menu
        %ul
          %li
            = link_to panel_root_url do
              %i.material-icons home
              Inicio

          - menus.each do |menu|
            - if show_menu?(menu)
              %li
                = link_to url_for(controller: "/panel/#{menu.controller}", action: menu.action) do
                  %i.material-icons= menu.icon_name
                  = t menu.controller.to_s.singularize, scope: 'activerecord.models', count: :many

    .columns
      Transparencia SV
    - if current_admin.admin?
      .columns.shrink
        = switch_user_select
    .columns.shrink.large-offset-1
      = link_to current_admin.name, edit_panel_profile_url(current_admin)
      = link_to destroy_admin_session_url, method: :delete do
        %i.material-icons power_settings_new
