.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name


    .panel#resources-area
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"

      - if @show_form
        .row
          = link_to "Descarga CSV", institution_privates_url(:format => "csv", :params => @fixed_params, :institution_id => params[:institution_id])
        = form_tag(institution_privates_url(params[:institution_id], anchor: 'resources-area'), method: :get, id: "officials") do
          = render partial: "layouts/documents/documents_hidden_fields"
          .filters
            .row.align-justify.align-middle
              .columns.small-20.flex
                = text_field_tag "privates_fields", nil, placeholder: 'Buscar en recursos públicos destinados a privados', value: params[:privates_fields]
              .columns.small-4.flex
                = button_tag "Buscar", class: "btn"
              .columns.small-24.medium-11.flex
                = select_tag "privates_date", options_for_select(@privates_years, :selected => params[:privates_date]), include_blank: "-- Todos los años --"
              .columns.small-24.medium-11.flex
                = select_tag "privates_institution_dependency_id", options_for_select(@dependencies.collect{|p| [ p.name, p.id ] }, selected: params[:privates_institution_dependency_id]), { include_blank: "-- Todas las dependencias --" } rescue nil

        - if @results.size > 0
          .table.spaced.spaced-columns.responsive
            .row.align-justify
              .columns.large-7
                %strong Destinatario privado
              .columns.large-12
                %strong Destino de los recursos
              .columns.large-4
                %strong Monto de los recursos

            - @results.each do |item|
              .row.align-justify.align-middle

                .columns.small-24.medium-6.th
                  %strong Destinatario
                .columns.small-24.medium-17.large-7
                  = link_to item.name, institution_private_url(@institution, item)
                .columns.small-24.medium-6.th
                  %strong Destino
                .columns.small-24.medium-17.large-12
                  = raw summarized_text(item.allocation_of_resources, 22, false)

                .columns.small-24.medium-6.th
                  %strong Monto
                .columns.small-24.medium-17.large-4
                  = number_to_currency item.resources_amount
                .columns.small-24.medium-24
                  .text-mutted
                    = "Creación: " + l(document.created_at, format: :localized2) rescue ""
                    %br
                    = "Actualización: " + l(document.updated_at, format: :localized2) rescue ""
          = will_paginate @results
        - else
          %h2
            No se encontraron resultados
    = render partial: "layouts/documents/document", locals: { years: @years,
    documents: @documents, doc_items: @doc_items,
    url: institution_privates_url(params[:institution_id],
    anchor: 'documents-area'), document_categories: @document_categories }
