.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    = link_to 'Regresar al listado', institution_privates_url(@institution), class: 'back float-left'
    = link_to institution_private_url(@institution, @resource, format: :pdf), class: "back float-right", title: "Exportar a PDF" do
      = image_tag 'icon-pdf.png'
      Vista en PDF
    .clearfix

    .panel
      %h2= @resource.name

      .table.no-border.no-margin
        - unless @resource.institution_dependency_id.blank?
          .row.align-justify
            .columns.small-24.medium-7.large-6
              %strong Dependencia
            .columns.small-24.medium-16.large-17
              = @resource.institution_dependency.name rescue nil

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Período
          .columns.small-24.medium-16.large-17
            = l @resource.period_begin, format: :long rescue nil
            = " - "
            = l @resource.period_end, format: :long rescue nil

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Destinatario privado
          .columns.small-24.medium-16.large-17
            = @resource.name

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Destino de los recursos (objetivo)
          .columns.small-24.medium-16.large-17
            = @resource.allocation_of_resources

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fase de ejecución
          .columns.small-24.medium-16.large-17
            = @resource.execution_phase_string rescue nil

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Monto de los recursos entregados
          .columns.small-24.medium-16.large-17
            = number_to_currency @resource.resources_amount rescue " - "

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fuente de financiamiento
          .columns.small-24.medium-16.large-17
            = @resource.funding_source_string rescue nil

        - if @resource.attachment.exists?
          .row.align-justify
            .columns.small-24.medium-6.large-6
              %strong Informe
            .columns.small-24.medium-17.large-17
              = link_to "Descargar", @resource.attachment.url, target: "_blank"

        - if @resource.funds_attachment.exists?
          .row.align-justify
            .columns.small-24.medium-6.large-6
              %strong Asignación
            .columns.small-24.medium-17.large-17
              = link_to "Descargar", @resource.funds_attachment.url, target: "_blank"

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de creación
          .columns.small-24.medium-17.large-17
            = l @resource.created_at, format: :localized2

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de última actualización
          .columns.small-24.medium-17.large-17
            = l @resource.updated_at, format: :localized2

    = link_to 'Regresar al listado', institution_privates_url(@institution), class: 'back'
