.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :year
    .columns.small-18= f.text_field :year

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :adquisition_code
    .columns.small-18= f.text_field :adquisition_code

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :priority
    .columns.small-18= f.text_field :priority

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :institutional_area
    .columns.small-18= f.text_field :institutional_area

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :amount
    .columns.small-18= f.text_field :amount

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :counterpart_name
    .columns.small-18= f.text_field :counterpart_name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :counterpart_info
    .columns.small-18= f.text_field :counterpart_info

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :compliance_deadlines
    .columns.small-18= f.text_field :compliance_deadlines

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :form_of_contract
    .columns.small-18= f.text_field :form_of_contract

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :start_date
    .columns.small-18= f.date_select :start_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 1980, end_year: 1.year.from_now.year }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :contract_code
    .columns.small-18= f.text_field :contract_code

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :file

    - if f.object.persisted? && f.object.attachment.present?
      .columns.small-15= f.file_field :attachment
      .columns.small-2
        = link_to f.object.attachment.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :attachment
