%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

%script{ type: 'text/ng-template', id: '/date-filter-from-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Desde' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-from' => 'true', before: "params.filter()[name.replace('_gteq', '_lteq')]" }

%script{ type: 'text/ng-template', id: '/date-filter-to-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Hasta' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-to' => 'true', after: "params.filter()[name.replace('_lteq', '_gteq')]" }

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons border_color
            Editar

          - if policy(model).destroy?
            = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
              %i.material-icons delete
              Eliminar
      %td{ data: { title: "'Activo'" }, 'ng-if' => 'true', filter: "{ enabled_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'enabled'" }
        %input{ type: :checkbox, class: 'decorated-checkbox check', 'ng-model' => 'item.enabled', 'ng-click' => "submitField($event, 'enabled', item)" }

      - unless current_admin.one_institution?
        %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.institution_id }}

      %td{ data: { title: "'Año'" }, 'ng-if' => 'true', filter: "{ year_cont: 'text' }", sortable: "'year'" } {{ item.year }}

      %td{ data: { title: "'Correlativo'" }, 'ng-if' => 'true', sortable: "'priority'" } {{ item.priority }}

      %td{ data: { title: "'Área institucional'" }, 'ng-if' => 'true', filter: "{ institutional_area_icont: 'text' }", sortable: "'institutional_area'" } {{ item.institutional_area }}

      %td{ data: { title: "'Código adqui / contra'" }, 'ng-if' => 'true', filter: "{ adquisition_code_icont: 'text' }", sortable: "'adquisition_code'" } {{ item.adquisition_code }}

      %td{ data: { title: "'Código contra / OC'" }, 'ng-if' => 'true', filter: "{ contract_code_icont: 'text' }", sortable: "'contract_code'" } {{ item.contract_code }}

      %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}

      %td{ data: { title: "'Monto'" }, 'ng-if' => 'true', filter: "{ amount_icont: 'text' }", sortable: "'amount'" } {{ item.amount }}

      %td{ data: { title: "'Nombre de la contraparte'" }, 'ng-if' => 'true', filter: "{ counterpart_name_icont: 'text' }", sortable: "'counterpart_name'" } {{ item.counterpart_name }}

      %td{ data: { title: "'Características de la contraparte'" }, 'ng-if' => 'true', filter: "{ counterpart_info_icont: 'text' }", sortable: "'counterpart_info'" } {{ item.counterpart_info }}

      %td{ data: { title: "'Plazos de cumplimiento'" }, 'ng-if' => 'true', filter: "{ compliance_deadlines_icont: 'text' }", sortable: "'compliance_deadlines'" } {{ item.compliance_deadlines }}

      %td{ data: { title: "'Forma de contratación'" }, 'ng-if' => 'true', filter: "{ form_of_contract_icont: 'text' }", sortable: "'form_of_contract'" } {{ item.form_of_contract }}

      %td{ data: { title: "'Fecha de creación'" }, 'ng-if' => 'true', filter: "table.dateFilter('created_at')", sortable: "'created_at'" } {{ item.created_at | date:'dd/MM/yy hh:mm a' }}

      %td{ data: { title: "'Fecha de actualización'" }, 'ng-if' => 'true', filter: "table.dateFilter('updated_at')", sortable: "'updated_at'" } {{ item.updated_at | date:'dd/MM/yyyy hh:mm a' }}
