.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'api/v1/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = t("activerecord.models.#{model.name.underscore}.other")

    .panel
      %h2
        Punto de acceso

      %p
        El API de #{t("activerecord.models.#{model.name.underscore}.other")} es accesible a través de las siguientes acciones:
      %table
        %tr
          %td
            %strong Consulta
          %td
            = url_for(controller: controller_route, format: :json, only_path: false)
      %br
      %p
        Parámetros permitidos para la búsqueda
      %table
        %tr
          %td
            %strong Nombre
          %td
            %strong Descripción
          %td
            %strong Ejemplo
        %tr
          %td start_at
          %td Fecha de creación desde
          %td= url_for(controller: controller_route, format: :json, only_path: false, start_at: '2018-01-01')
        %tr
          %td end_at
          %td Fecha de creación hasta
          %td= url_for(controller: controller_route, format: :json, only_path: false, end_at: '2018-01-31')
        %tr
          %td institution_id
          %td Institución
          %td= url_for(controller: controller_route, format: :json, only_path: false, institution_id: '9')
        %tr
          %td information_standard_id
          %td Estándar de información
          %td= url_for(controller: controller_route, format: :json, only_path: false, information_standard_id: '1')

        %tr
          %td per_page
          %td
            Cantidad de registros por página
            %small (Valor por defecto: 100)
          %td= url_for(controller: controller_route, format: :json, only_path: false, per_page: 100)
        %tr
          %td page
          %td
            Número de página solicitada
            %small (Valor por defecto: 1)
          %td= url_for(controller: controller_route, format: :json, only_path: false, page: 1)
      %p
        Estos parámetros pueden combinarse para realizarse alguna consulta más compleja:
      %pre
        = url_for(controller: controller_route, format: :json, only_path: false, start_at: '2012-01-01', end_at: '2017-12-31', institution_id: 9, information_standard_id: 2, per_page: 500, page: 1)
    .panel
      %h2 Esquema de la tabla
      %p.text-mutted Considere los campos character varying con una longitud de 255 carácteres
      %table
        %tr
          %td
            %strong Nombre
          %td
            %strong Tipo
        - ActiveRecord::Base.connection.columns(model.table_name).each do |c|
          %tr
            %td= c.name
            %td= c.sql_type
