.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :email
    .columns.small-18= f.text_field :email

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :role
    .columns.small-18= f.select :role, model.roles.keys.map{ |i| [t(i, scope: 'activerecord.enum.admin.role'), i] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :manage_dependencies
    .columns.small-18= f.check_box :manage_dependencies, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :password
    .columns.small-18= f.password_field :password

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :password_confirmation
    .columns.small-18= f.password_field :password_confirmation

%br
%br
%h2
  Instituciones que puede administrar

- @institutions.each do |institution|

  .control
    .row.align-middle.align-justify
      .columns= f.label :institution_ids, institution.name, for: "institution_ids_#{institution.id}"
      .columns.shrink= check_box_tag 'item[institution_ids][]', institution.id, f.object.institutions.include?(institution), class: 'decorated-checkbox box', id: "institution_ids_#{institution.id}"

%br
%br
%h2
  Restringir administrador a los siguientes estándares

= hidden_field_tag('item[restricted_standard_ids][]', nil)
- @information_standards.each do |information_standard|

  .control
    .row.align-middle.align-justify
      .columns= f.label :restricted_standard_ids, information_standard.name, for: "restricted_standard_ids_#{information_standard.id}"
      .columns.shrink= check_box_tag 'item[restricted_standard_ids][]', information_standard.id, f.object.restricted_standards.include?(information_standard), class: 'decorated-checkbox box', id: "restricted_standard_ids_#{information_standard.id}"
