.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    = link_to 'Regresar al listado', institution_officials_url(@institution), class: 'back float-left'
    = link_to institution_official_url(@institution, @official, format: :pdf), class: "back float-right", title: "Exportar a PDF" do
      = image_tag 'icon-pdf.png'
      Vista en PDF
    .clearfix

    .panel
      %h2.text-upper
        = @official.name + " (#{@official.try(:active_string)})"

      .table.no-border.no-margin
        .row.align-justify
          .columns.small-2.medium-2.large-1
            = image_tag 'icon-person-small.png'
          .columns.small-21.medium-5.large-3
            %strong Cargo
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = @official.position
        - unless @official.institution_dependency_id.blank?
          .row.align-justify
            .columns.small-2.medium-2.large-1
              &nbsp;
            .columns.small-21.medium-5.large-3
              %strong Dependencia
            .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
              = @official.institution_dependency.name rescue nil
        .row.align-justify
          .columns.small-2.medium-1.large-1
            = image_tag 'icon-phone-small-2.png'
          .columns.small-21.medium-5.large-3
            %strong Teléfono
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = @official.phone

        .row.align-justify
          .columns.small-2.medium-1.large-1
            = image_tag 'icon-mail-small-2.png'
          .columns.small-21.medium-5.large-3
            %strong Email
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = mail_to @official.email

        .row.align-justify
          .columns.small-2.medium-1.large-1
            = image_tag 'icon-location-small.png'
          .columns.small-21.medium-5.large-3
            %strong Dirección
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = @official.address

        .row.align-justify
          .columns.small-2.medium-1.large-1
          .columns.small-21.medium-5.large-3
            %strong Fecha de creación
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = l @official.created_at, format: :localized2

        .row.align-justify
          .columns.small-2.medium-1.large-1
          .columns.small-21.medium-5.large-3
            %strong Fecha de última actualización
          .columns.small-21.medium-16.large-19.small-offset-3.medium-offset-0.large-offset-0
            = l @official.updated_at, format: :localized2

    -# .panel
    -#   %h2 Funciones
    -#   %p= @official.functions

    .panel
      %h2 Curriculum
      .official-cv
        = simple_format @official.curriculum

    = link_to 'Regresar al listado', institution_officials_url(@institution), class: 'back'
