- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :digit
    .columns.small-18= f.text_field :digit

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name
