%section
  .header
    .row.align-middle
      .columns
        %h1
          %i.material-icons list
          Última actividad de instituciones
  %table.stack.table-scroll
    %thead
      %tr
        %th= "Institución / Estándares de Información"
        - @information_standards.each do |is|
          %th
            = is.name
    - @institutions.each do |i|
      %tr
        %td
          = i.name
        - @information_standards.each do |is|

          %td
            - case is.id
              - when Config[:dynamical_information_standards][:executing_works]
                - dynamic = ExecutingWork.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - when Config[:dynamical_information_standards][:resources_to_private_recipients]
                - dynamic = ResourcesToPrivateRecipient.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - when Config[:dynamical_information_standards][:institution_procurements]
                - dynamic = Procurement.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - when Config[:dynamical_information_standards][:institution_services]
                - dynamic = Service.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - when Config[:dynamical_information_standards][:institution_officials]
                - dynamic = Official.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - when Config[:dynamical_information_standards][:institution_consultants]
                - dynamic = Consultant.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - when Config[:dynamical_information_standards][:institution_remunerations]
                - dynamic = Remuneration.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - when Config[:dynamical_information_standards][:institution_inventory_categories]
                - dynamic = InstitutionItem.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - when Config[:dynamical_information_standards][:institution_travels]
                - dynamic = Travel.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - when Config[:dynamical_information_standards][:participation_mechanisms]
                - dynamic = ParticipationMechanism.where(institution_id: i.id).reorder("updated_at DESC").first
                - document = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
                - object = dynamic.blank? ? (document.blank? ? nil : document) : dynamic rescue nil
                - info = dynamic.updated_at > document.updated_at ? dynamic : document rescue object
              - else
                - info = Document.where(institution_id: i.id, information_standard_id: is.id).reorder("updated_at DESC").first
            - if info
              = info.updated_at.strftime("%d-%m-%Y %H:%M %P")
            - else
              = "-"
