%hot-table{ datarows: 'items', settings: "{stretchH: 'last', colHeaders: 'true', renderAllRows: 'true'}", 'row-headers' => 'true' }
  %hot-column{ data: 'record_status', title: "'Estado'", 'read-only': true }
  %hot-column{ data: 'enabled', title: "'Activo'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }
  %hot-column{ data: 'year', title: "'Año'", type: "'numeric'", format: "'0000'" }

  - unless current_admin.one_institution?
    %hot-column{ data: 'institution_id', title: "'Institución'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institutions')" }

  %hot-column{ data: 'name', title: "'Nombre del bien'" }
  %hot-column{ data: 'description', title: "'Descripción'" }
  %hot-column{ data: 'brand', title: "'Marca y/o modelo'" }
  %hot-column{ data: 'market_value', title: "'Valor de adquisición'", type: "'numeric'", format: "'$0.00'" }
  %hot-column{ data: 'current_value', title: "'Valor estimado actual'", type: "'numeric'", format: "'$0.00'" }
  %hot-column{ data: 'acquisition_date', title: "'Fecha de adquisición'" }

- content_for :filters do
  .grid-filters
    .row.align-spaced.align-middle

      - unless current_admin.one_institution?
        .columns.small-5
          = label_tag nil, 'Institución'
          %select{ 'ng-model' => 'filters.institution_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institutions')" }
            %option{ value: '' }

      .columns.small-2
        = label_tag nil, 'Año'
        %input{ 'ng-model' => 'filters.year_cont' }

      .columns.small-5
        %br
        = link_to nil, class: 'btn blue', 'ng-click' => 'filter($event)' do
          %span.material-icons filter_list
          Filtrar
