.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :active
    .columns.small-18= f.check_box :active, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :year
    .columns.small-18= f.text_field :year

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

- if current_admin.manage_dependencies?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_dependency_id
      .columns.small-18= f.select :institution_dependency_id, @institution_dependencies.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :location
    .columns.small-18= f.text_field :location

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :amount
    .columns.small-18= f.text_field :amount

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :financing_source
    .columns.small-18= f.text_field :financing_source

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :starting_date
    .columns.small-18= f.date_select :starting_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 1980, end_year: 1.year.from_now.year }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :execution_time
    .columns.small-18= f.text_field :execution_time

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :beneficiaries_number
    .columns.small-18= f.text_field :beneficiaries_number

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :executing_company
    .columns.small-18= f.text_field :executing_company

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :supervising_company
    .columns.small-18= f.text_field :supervising_company

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :responsible
    .columns.small-18= f.text_field :responsible

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :payment_method
    .columns.small-18= f.text_field :payment_method

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :guarantee
    .columns.small-18= f.text_field :guarantee

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :contract_code
    .columns.small-18= f.text_field :contract_code
