.row.align-middle
  .columns.small-6
    .actions
      .row.align-stretch
        .columns.shrink
          %input.decorated-checkbox.box{ type: :checkbox, class: 'all', ng: { model: 'checkboxes.checked' }}

        .columns
          %div{ ng: { show: 'checkboxes.checked || indeterminate' }}
            = link_to nil, class: 'btn', 'ng-click' => 'deleteSelection($event)' do
              %i.material-icons delete

            %span.btn.drop
              %i.material-icons border_color
              %ul
                %li= link_to 'Importante / No importante', nil, 'ng-click' => "showForm('marked')"
                %li= link_to 'Activar / Desactivar', nil, 'ng-click' => "showForm('enabled')"

          %strong.total-entries{ 'ng-bind' => "total_entries + ' Registros'" }


  .columns.small-18
    .visibility-controls
      = label_tag nil, 'ng-repeat' => 'col in table.cols' do
        %input{ type: :checkbox, ng: { model_options: "{ getterSetter: true }", model: 'col.show' }}
        %span {{ col.title() }}

.overlay.animate-show.animate-hide{ 'ng-show' => "showingForm('enabled')", 'ng-cloak' => true }
  .popup
    = link_to nil, class: 'cancel', 'ng-click' => 'hideForms()' do
      %i.material-icons cancel
    = form_tag '', { 'ng-submit' => 'submitForm($event)' } do
      .control
        %p Active / Desactive los elementos seleccionados:

      .control.radios
        = label_tag nil, nil, class: 'radio' do
          = radio_button_tag nil, true, false, 'ng-model' => 'item.enabled'
          Activar

        = label_tag nil, nil, class: 'radio' do
          = radio_button_tag nil, false, false, 'ng-model' => 'item.enabled'
          Desactivar

      .control
        = button_tag type: :submit, name: nil, class: 'btn green medium' do
          Actualizar

.overlay.animate-show.animate-hide{ 'ng-show' => "showingForm('marked')", 'ng-cloak' => true }
  .popup
    = link_to nil, class: 'cancel', 'ng-click' => 'hideForms()' do
      %i.material-icons cancel
    = form_tag '', { 'ng-submit' => 'submitForm($event)' } do
      .control
        %p Marque como Importante / No importante los elementos seleccionados

      .control.radios
        = label_tag nil, nil, class: 'radio' do
          = radio_button_tag nil, true, false, 'ng-model' => 'item.marked'
          Importante

        = label_tag nil, nil, class: 'radio' do
          = radio_button_tag nil, false, false, 'ng-model' => 'item.marked'
          No importante

      .control
        = button_tag type: :submit, name: nil, class: 'btn green medium' do
          Actualizar
