.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

- if current_admin.manage_dependencies?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_dependency_id
      .columns.small-18= f.select :institution_dependency_id, @institution_dependencies.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :officer_name
    .columns.small-18= f.text_field :officer_name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :officer_position
    .columns.small-18= f.text_field :officer_position

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :destination
    .columns.small-18= f.text_field :destination

%br
%br

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label nil, 'Costos / Gastos'
    .columns.small-3= f.label nil, 'Valor'
    .columns.small-5= f.label nil, 'Pagado con'
    .columns.small-8= f.label nil, 'Comentarios'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :passage_amount, 'Pasaje'
    .columns.small-3= f.text_field :passage_amount
    .columns.small-5= f.select :passage_payer, model.passage_payers.keys.map{ |i| [t(i, scope: 'activerecord.enum.travel.passage_payer'), i] }, include_blank: true
    .columns.small-8= f.text_field :passage_payer_comments, placeholder: 'Especifique', data: { toggable_from_select: true, toggable_hide_on: ", passage_institutional", toggler_id: 'item_passage_payer' }

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :viatical_amount, 'Viáticos'
    .columns.small-3= f.text_field :viatical_amount
    .columns.small-5= f.select :viatical_payer, model.viatical_payers.keys.map{ |i| [t(i, scope: 'activerecord.enum.travel.viatical_payer'), i] }, include_blank: true
    .columns.small-8= f.text_field :viatical_payer_comments, placeholder: 'Especifique', data: { toggable_from_select: true, toggable_hide_on: ", viatical_institutional", toggler_id: 'item_viatical_payer' }

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :expenses_amount, 'Otros gastos'
    .columns.small-3= f.text_field :expenses_amount
    .columns.small-5= f.select :expenses_payer, model.expenses_payers.keys.map{ |i| [t(i, scope: 'activerecord.enum.travel.expenses_payer'), i] }, include_blank: true
    .columns.small-8= f.text_field :expenses_payer_comments, placeholder: 'Especifique', data: { toggable_from_select: true, toggable_hide_on: ", expenses_institutional", toggler_id: 'item_expenses_payer' }

%br
%br

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :departure_date
    .columns.small-18= f.date_select :departure_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' } }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :return_date
    .columns.small-18= f.date_select :return_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' } }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :objective
    .columns.small-18= f.text_area :objective, rows: 5

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :observations
    .columns.small-18= f.text_area :observations, rows: 5
