.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

- if current_admin.manage_dependencies?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_dependency_id
      .columns.small-18= f.select :institution_dependency_id, @institution_dependencies.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :priority
    .columns.small-18= f.text_field :priority

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :allocation_of_resources
    .columns.small-18= f.text_area :allocation_of_resources, rows: 6

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :execution_phase
    .columns.small-18= f.select :execution_phase, model.execution_phases.keys.map{ |i| [t(i, scope: 'activerecord.enum.resources_to_private_recipient.execution_phase'), i] }, include_blank: true


.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :period_begin
    .columns.small-18= f.date_select :period_begin, { prompt: { day: 'Día', month: 'Mes', year: 'Año' } }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :period_end
    .columns.small-18= f.date_select :period_end, { prompt: { day: 'Día', month: 'Mes', year: 'Año' } }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :resources_amount
    .columns.small-18= f.text_field :resources_amount

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :funding_source
    .columns.small-18
      .row
        - model::FUNDING_SOURCE.each do |k, v|

          .small-12.columns
            = label_tag "item[funding_source]_" + k.to_s, class: 'checkbox-inline', for: "item_funding_source_#{k}" do
              = check_box_tag 'item[funding_source][]', k, Array.wrap(f.object.funding_source).include?(k.to_s), class: 'decorated-checkbox check', id: "item_funding_source_#{k}"
              = v

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :attachment

    - if f.object.persisted? && f.object.attachment.present?
      .columns.small-15= f.file_field :attachment
      .columns.small-2
        = link_to f.object.attachment.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :attachment

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :funds_attachment

    - if f.object.persisted? && f.object.funds_attachment.present?
      .columns.small-15= f.file_field :funds_attachment
      .columns.small-2
        = link_to f.object.funds_attachment.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :funds_attachment
