%hot-table{ datarows: 'items', settings: "{stretchH: 'last', colHeaders: 'true', renderAllRows: 'true'}", 'row-headers' => 'true' }
  %hot-column{ data: 'enabled', title: "'Activo'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }

  - unless current_admin.one_institution?
    %hot-column{ data: 'institution_id', title: "'Institución'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institutions')" }

  - if current_admin.manage_dependencies?
    %hot-column{ data: 'institution_dependency_id', title: "'Dependencia'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institution_dependencies')" }

  %hot-column{ data: 'priority', title: "'Correlativo'" }
  %hot-column{ data: 'name', title: "'Destinatario privado'" }
  %hot-column{ data: 'allocation_of_resources', title: "'Destino de los recursos (objetivo)'" }

  %hot-column{ data: 'execution_phase', title: "'Fase de ejecución'", type: "'autocomplete'", strict: "'true'" }
    %hot-autocomplete{ datarows: "name in gridOptions('execution_phases')" }

  %hot-column{ data: 'period_begin', title: "'Inicio de ejecución'" }
  %hot-column{ data: 'period_end', title: "'Fin de ejecución'" }
  %hot-column{ data: 'resources_amount', title: "'Monto de los recursos'", type: "'numeric'", format: "'$0.00'" }


- content_for :filters do
  .grid-filters
    - if !current_admin.one_institution? || current_admin.manage_dependencies?
      .row.align-spaced.align-middle

        - unless current_admin.one_institution?
          .columns.small-5
            = label_tag nil, 'Institución'
            %select{ 'ng-model' => 'filters.institution_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institutions')" }
              %option{ value: '' }

        - if current_admin.manage_dependencies?
          .columns.small-5
            = label_tag nil, 'Dependencia'
            %select{ 'ng-model' => 'filters.institution_dependency_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institution_dependencies')" }
              %option{ value: '' }

        .columns.small-5
          %br
          = link_to nil, class: 'btn blue', 'ng-click' => 'filter($event)' do
            %span.material-icons filter_list
            Filtrar
