%hot-table{ datarows: 'items', settings: "{stretchH: 'last', colHeaders: 'true', renderAllRows: 'true'}", 'row-headers' => 'true' }
  %hot-column{ data: 'record_status', title: "'Estado'", 'read-only': true }
  %hot-column{ data: 'enabled', title: "'Activo'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }
  %hot-column{ data: 'active', title: "'Vigente'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }

  - unless current_admin.one_institution?
    %hot-column{ data: 'institution_id', title: "'Institución'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institutions')" }

  - if current_admin.manage_dependencies?
    %hot-column{ data: 'institution_dependency_id', title: "'Dependencia'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institution_dependencies')" }

  %hot-column{ data: 'services_category_id', title: "'Categoría de servicios'", type: "'autocomplete'", strict: "'true'" }
    %hot-autocomplete{ datarows: "name in gridOptions('services_categories')" }

  %hot-column{ data: 'name', title: "'Nombre'" }
  %hot-column{ data: 'description', title: "'Descripción'" }
  %hot-column{ data: 'address', title: "'Dirección'" }
  %hot-column{ data: 'schedule', title: "'Horario de atención'" }
  %hot-column{ data: 'response_time', title: "'Tiempo de respuesta'" }
  %hot-column{ data: 'cost', title: "'Costo'" }
  %hot-column{ data: 'responsible_area', title: "'Área responsable'" }
  %hot-column{ data: 'responsible_name', title: "'Encargado del servicio'" }
  %hot-column{ data: 'requirements', title: "'Requisitos generales'" }
  %hot-column{ data: 'observations', title: "'Observaciones'" }

- content_for :filters do
  .grid-filters
    .row.align-spaced.align-middle

      - unless current_admin.one_institution?
        .columns.small-5
          = label_tag nil, 'Institución'
          %select{ 'ng-model' => 'filters.institution_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institutions')" }
            %option{ value: '' }

      - if current_admin.manage_dependencies?
        .columns.small-5
          = label_tag nil, 'Dependencia'
          %select{ 'ng-model' => 'filters.institution_dependency_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institution_dependencies')" }
            %option{ value: '' }

      .columns.small-5
        = label_tag nil, 'Categoría de servicios'
        %select{ 'ng-model' => 'filters.services_category_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('services_categories')" }
          %option{ value: '' }

      .columns.small-5
        %br
        = link_to nil, class: 'btn blue', 'ng-click' => 'filter($event)' do
          %span.material-icons filter_list
          Filtrar
