.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :service_id
    .columns.small-18= f.select :service_id, @services.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :correlative
    .columns.small-18= f.text_field :correlative

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_area :description, rows: 6

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :responsible_name
    .columns.small-18= f.text_field :responsible_name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :duration
    .columns.small-18= f.text_field :duration

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :response_time
    .columns.small-18= f.text_field :response_time

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :schedule
    .columns.small-18= f.text_area :schedule, rows: 3

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :requirements
    .columns.small-18= f.text_area :requirements, rows: 4

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :documents_to_present
    .columns.small-18= f.text_area :documents_to_present, rows: 4

%br
%br
%h2
  Archivos adjuntos

#service-attachments
  = f.fields_for :service_step_attachments do |service_step_attachment|
    = render partial: 'service_step_attachment_fields', locals: { f: service_step_attachment }

  .add-nested
    = link_to_add_association f, :service_step_attachments do
      %i.material-icons add_circle_outline
      Agregar
