.nested-fields
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :name
      .columns.small-18= f.text_field :name

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :attachment
      - if f.object.persisted? && f.object.attachment.present?
        .columns.small-15= f.file_field :attachment
        .columns.small-2
          = link_to f.object.attachment.url, target: '_blank' do
            %i.material-icons file_download
      - else
        .columns.small-18= f.file_field :attachment

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :description
      .columns.small-18= f.text_area :description, rows: 2

  .remove-nested
    = link_to_remove_association f do
      %i.material-icons remove_circle_outline
      Remover
