%h2
  Información general

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :acronym
    .columns.small-18= f.text_field :acronym

- if current_admin.admin?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_type_id
      .columns.small-18= f.select :institution_type_id, @institution_types.map{ |i| [i.name, i.id] }, include_blank: true

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :standard_category_id
      .columns.small-18= f.select :standard_category_id, @standard_categories.map{ |i| [i.name, i.id] }, include_blank: true

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :score
      .columns.small-18= f.text_field :score

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :rating_report

    - if f.object.persisted? && f.object.rating_report.present?
      .columns.small-15= f.file_field :rating_report
      .columns.small-2
        = link_to f.object.rating_report.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :rating_report

- if current_admin.admin?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :accepts_online_requests
      .columns.small-18= f.check_box :accepts_online_requests, class: 'decorated-checkbox box'

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :external_transparency_site_url
      .columns.small-18= f.text_field :external_transparency_site_url

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :avatar

    - if f.object.persisted? && f.object.avatar.present?
      .columns.small-15= f.file_field :avatar
      .columns.small-2
        = link_to f.object.avatar.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :avatar

%br
%br
%h2
  Información administrativa

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :reproduction_amount
    .columns.small-18= f.text_field :reproduction_amount

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :certification_amount
    .columns.small-18= f.text_field :certification_amount

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :administrative_document_type
    .columns.small-18= f.select :administrative_document_type, model.administrative_document_types.keys.map{ |i| [t(i, scope: 'activerecord.enum.institution.administrative_document_type'), i] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :administrative_document

    - if f.object.persisted? && f.object.administrative_document.present?
      .columns.small-15= f.file_field :administrative_document
      .columns.small-2
        = link_to f.object.administrative_document.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :administrative_document

%br
%br
%h2
  Enlaces

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :website_url
    .columns.small-18= f.text_field :website_url

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :facebook_username
    .columns.small-6= f.text_field :facebook_username
    .columns.small-3= f.label :facebook_url
    .columns.small-7= f.text_field :facebook_url

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :twitter_username
    .columns.small-6= f.text_field :twitter_username
    .columns.small-3= f.label :twitter_url
    .columns.small-7= f.text_field :twitter_url

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :youtube_username
    .columns.small-6= f.text_field :youtube_username
    .columns.small-3= f.label :youtube_url
    .columns.small-7= f.text_field :youtube_url

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :flickr_username
    .columns.small-6= f.text_field :flickr_username
    .columns.small-3= f.label :flickr_url
    .columns.small-7= f.text_field :flickr_url

%br
%br
%h2
  Oficial de información

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :officer_name
    .columns.small-18= f.text_field :officer_name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :officer_email
    .columns.small-18= f.text_field :officer_email

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :officer_designation_date
    .columns.small-18= f.date_select :officer_designation_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 2009, end_year: Date.today.year }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :officer_designation

    - if f.object.persisted? && f.object.officer_designation.present?
      .columns.small-15= f.file_field :officer_designation
      .columns.small-2
        = link_to f.object.officer_designation.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :officer_designation
