%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons border_color
            Editar

          - if policy(model).destroy?
            = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
              %i.material-icons delete
              Eliminar
      %td{ data: { title: "'Activo'" }, 'ng-if' => 'true', filter: "{ enabled_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'enabled'" }
        %input{ type: :checkbox, class: 'decorated-checkbox check', 'ng-model' => 'item.enabled', 'ng-click' => "submitField($event, 'enabled', item)" }
      %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}
      %td{ data: { title: "'Acrónimo'" }, 'ng-if' => 'true', filter: "{ acronym_icont: 'text' }", sortable: "'acronym'" } {{ item.acronym }}
      %td{ data: { title: "'Tipo de institutción'" }, 'ng-if' => 'true', filter: "{ institution_type_id_eq: 'select' }", 'filter-data' => "getSelectList('institution_types')", sortable: "'institution_type_name'" } {{ item.institution_type_id }}
      %td{ data: { title: "'Categoría de estándares'" }, 'ng-if' => 'true', filter: "{ standard_category_id_eq: 'select' }", 'filter-data' => "getSelectList('standard_categories')", sortable: "'standard_category_name'" } {{ item.standard_category_id }}
      %td{ data: { title: "'Calificación'" }, 'ng-if' => 'true', sortable: "'score'" } {{ item.score }}
