.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :information_standard_frame_id
    .columns.small-18= f.select :information_standard_frame_id, @information_standard_frames.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :priority_order
    .columns.small-18= f.check_box :priority_order, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :priority
    .columns.small-18= f.text_field :priority

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :short_name
    .columns.small-18= f.text_field :short_name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_area :description, rows: 4
