%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

%table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
  %tr{ ng: { repeat: 'item in $data' }}
    %td
      %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
    %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
      .action-buttons
        = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
          %i.material-icons border_color
          Editar

        = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
          %i.material-icons delete
          Eliminar
    %td{ data: { title: "'Marco'" }, 'ng-if' => 'true', filter: "{ information_standard_frame_id_eq: 'select' }", 'filter-data' => "getSelectList('information_standard_frames')", sortable: "'information_standard_frame_name'" } {{ item.information_standard_frame_id }}
    %td{ data: { title: "'Prioridad'" }, 'ng-if' => 'true', sortable: "'priority'" } {{ item.priority }}
    %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}
    %td{ data: { title: "'Nombre corto'" }, 'ng-if' => 'true', filter: "{ short_name_icont: 'text' }", sortable: "'short_name'" } {{ item.short_name }}
