.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :address
    .columns.small-18= f.text_area :address, rows: 2

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :phone
    .columns.small-18= f.text_field :phone

%br
%br
%h2
  Mapa

.control
  .row.align-middle
    .columns.small-24
      = f.hidden_field :lat
      = f.hidden_field :lng
      #map.map{ data: { lat: f.object.lat, lng: f.object.lng }}

%br
%br
%h2
  Horario de atención

.control
  .row.align-middle
    .columns.small-6
      %b Día
    .columns.small-3
      %b Desde
    .columns.small-3
      %b Hasta

- @item.schedule.each_with_index do |s, i|
  .control
    .row.align-middle
      .columns.small-6
        = label :schedule, i, t('date.day_names')[i].capitalize
        = hidden_field :schedule, i, name: 'item[schedule][][wday]', value: s[:wday]
      .columns.small-3= time_field :schedule, i, name: 'item[schedule][][from]', value: s[:from], class: 'date'
      .columns.small-3= time_field :schedule, i, name: 'item[schedule][][to]', value: s[:to], class: 'date'
