%hot-table{ datarows: 'items', settings: "{stretchH: 'last', colHeaders: 'true', renderAllRows: 'true'}", 'row-headers' => 'true' }
  %hot-column{ data: 'record_status', title: "'Estado'", 'read-only': true }
  %hot-column{ data: 'enabled', title: "'Activo'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }
  %hot-column{ data: 'active', title: "'Vigente'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }
  %hot-column{ data: 'priority', title: "'Correlativo'", type: "'numeric'", format: "'0'" }
  %hot-column{ data: 'year', title: "'Año'", type: "'numeric'", format: "'0000'" }

  - unless current_admin.one_institution?
    %hot-column{ data: 'institution_id', title: "'Institución'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institutions')" }

  - if current_admin.manage_dependencies?
    %hot-column{ data: 'institution_dependency_id', title: "'Dependencia'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institution_dependencies')" }

  %hot-column{ data: 'information_standard_id', title: "'Estándar de información'", type: "'autocomplete'", strict: "'true'" }
    %hot-autocomplete{ datarows: "name in gridOptions('information_standards')" }

  %hot-column{ data: 'document_category_id', title: "'Categoría de documentos'", type: "'autocomplete'", strict: "'true'" }
    %hot-autocomplete{ datarows: "name in gridOptions('document_categories')" }

  %hot-column{ data: 'name', title: "'Nombre'" }
  %hot-column{ data: 'description', title: "'Descripción'" }

- content_for :filters do
  .grid-filters
    .row.align-spaced.align-middle

      - unless current_admin.one_institution?
        .columns.small-5
          = label_tag nil, 'Institución'
          %select{ 'ng-model' => 'filters.institution_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institutions')" }
            %option{ value: '' }

      - if current_admin.manage_dependencies?
        .columns.small-5
          = label_tag nil, 'Dependencia'
          %select{ 'ng-model' => 'filters.institution_dependency_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institution_dependencies')" }
            %option{ value: '' }

      .columns.small-2
        = label_tag nil, 'Año'
        %input{ 'ng-model' => 'filters.year_cont' }

      .columns.small-5
        = label_tag nil, 'Estándar de información'
        %select{ 'ng-model' => 'filters.information_standard_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('information_standards')" }
          %option{ value: '' }

      .columns.small-5
        = label_tag nil, 'Categoría de documentos'
        %select{ 'ng-model' => 'filters.document_category_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('document_categories')" }
          %option{ value: '' }

      .columns.small-3
        %br
        = link_to nil, class: 'btn blue', 'ng-click' => 'filter($event)' do
          %span.material-icons filter_list
          Filtrar
