.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    .panel
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"

      - if @show_form
        .row
          = link_to "Descarga CSV", institution_remunerations_url(:format => "csv", :params => @fixed_params, :institution_id => params[:institution_id])
        = form_tag(institution_remunerations_url(params[:institution_id]), method: :get, id: "officials") do
          .filters
            .row.align-justify.align-middle
              .columns.small-20.flex
                = text_field_tag "rm_name", nil, placeholder: 'Buscar en listado de remuneraciones', value: params[:rm_name]
              .columns.small-4.flex
                = button_tag "Buscar", class: "btn"
              .columns.small-24.medium-11
                = select_tag "rm_year", options_for_select(@rm_years, selected: params[:rm_year]), { include_blank: "-- Todos los años --" } rescue nil
              .columns.small-24.medium-11
                = select_tag "rm_salary_category", options_for_select([["Ley de Salarios", "Ley de Salarios"],["Contrato", "Contrato"]], selected: params[:rm_salary_category]), { include_blank: "-- Todas las categorías salariales --" }
              .columns.small-24.medium-11
                = select_tag "rm_work_line_id", options_for_select(@rm_work_lines, selected: params[:rm_work_line_id]), { include_blank: "-- Todas las líneas de trabajo --" }

        - if @results.size > 0
          .table.spaced.spaced-columns.responsive
            .row.align-justify
              .columns.large-4
                %strong Cargo presupuestario
              .columns.large-3
                %strong No. Empleados
              .columns.large-4
                %strong Remuneración mensual por empleado
              .columns.large-4
                %strong Dietas o gastos de representación
              .columns.large-5
                %strong Categoría salarial
            - @results.each do |item|
              .row.align-justify.align-middle
                .columns.small-24.medium-8.th
                  %strong Cargo presupuestario
                .columns.small-24.medium-15.large-4
                  %b= item.name
                  .text-mutted
                    = item.work_line.name rescue nil
                .columns.small-24.medium-8.th
                  %strong No. Empleados
                .columns.small-15.medium-15.large-3
                  = item.employees_number

                .columns.small-24.medium-8.th
                  %strong Remuneración mensual
                .columns.small-15.medium-15.large-4
                  = number_to_currency item.monthly_remuneration

                .columns.small-24.medium-8.th
                  %strong Dietas o gastos de representación
                .columns.small-15.medium-15.large-4
                  = number_to_currency item.expenses_remuneration

                .columns.small-24.medium-8.th
                  %strong Categoría salarial
                .columns.small-15.medium-15.large-5
                  = item.salary_category

                .columns.small-24.medium-24.large-20
                  .text-mutted
                    = "Creación: " + l(item.created_at, format: :localized2) rescue ""
                    %br
                    = "Actualización: " + l(item.updated_at, format: :localized2) rescue ""

          = will_paginate @results
        - else
          %h2
            No se encontraron resultados
    = render partial: "layouts/documents/document", locals: { years: @years,
      documents: @documents, doc_items: @doc_items,
      url: institution_remunerations_url(params[:institution_id], anchor: 'documents-area'),
      document_categories: @document_categories }
