!!! 5
%html{ lang: I18n.locale }
  %head
    = display_meta_tags
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }

    -# = display_meta_tags

    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'shortcut icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon-precomposed' }

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    = render partial: 'layouts/application/analytics'
  %body
    .header
      .row
        .columns.small-0.medium-0.large-3.small-order-3.medium-order-3.large-order-1
        .columns.small-24.medium-24.large-18.small-order-2.medium-order-2.large-order-2
          = image_tag 'transparencia-sv.png'
          %h1
            transparencia.gob.sv
          %h2
            Consulte información pública de #{@institutions_count} instituciones y más de #{number_with_delimiter(@total_count)}
            documentos y registros
        .columns.small-24.medium-24.large-3.small-order-1.medium-order-1.large-order-3
          .menu
            = link_to 'API', api_v1_home_index_url
            = mail_to 'info@gobiernoabierto.gob.sv' do
              = image_tag('icon-mail.png')

      .row.align-center
        .columns.small-24.medium-12.large-8
          = form_tag(search_url, method: :get) do
            = search_field_tag 'ft', params[:ft], placeholder: 'Buscar'
            = button_tag type: :submit, name: nil do
              = image_tag 'icon-search.png'

      .row.align-center
        .columns.small-24.medium-24.large-16
          .categories
            - @institution_types.each do |institution_type|
              = link_to category_url(institution_type) do
                = institution_type.name
                = " (#{institution_type.how_many?})"

    %main
      .row.align-center#info-
        .columns.small-24.medium-20.large-20
          .container.panel.text-center
            %h2
              Información que puedes consultar


            .row.align-justify.text-center
              .columns.small-24.medium-12.large-6
                = link_to '#', class: 'featured-standard' do
                  = image_tag 'icon-info-documents.png'
                  %strong.number
                    = number_with_delimiter @documents_count
                  Documentos

              - if @last_update
                .columns.small-24.medium-12.large-6
                  = link_to nil, class: 'featured-standard' do
                    = image_tag 'icon-info-updated-at.png'
                    %strong.number
                      = @last_update.updated_at.try(:strftime, '%d/%m/%Y')
                    Última actualización

              .columns.small-24.medium-12.large-6
                = link_to nil, class: 'featured-standard' do
                  = image_tag 'icon-info-downloads.png'
                  %strong.number
                    = number_with_delimiter @documents_download
                  Descargas de documentos

              .columns.small-24.medium-12.large-6
                = link_to nil, class: 'featured-standard' do
                  = image_tag 'icon-info-services.png'
                  %strong.number
                    = number_with_delimiter @services_count
                  Servicios disponibles

      .row.align-center
        .columns.small-24.medium-20.large-20
          .container.panel
            %h2
              Resoluciones de información

            .table
              .row.align-justify.align-middle
                .columns.small-18.medium-18.large-8
                  %strong Institución
                .columns.small-5.medium-4.large-2
                  %strong Descargas
                .columns.small-18.medium-18.large-10
                  %strong Documento
                .columns.small-5.medium-4.large-2
                  %strong Peso
              - @featured_resolutions.each do |r|
                .row.align-justify.align-middle
                  .columns.small-18.medium-18.large-8
                    %strong
                      = r.institution.try(:name)
                  .columns.small-5.medium-4.large-2
                    = r.downloads
                  .columns.small-18.medium-18.large-10
                    -# TODO Enlace para contabilizar descargas
                    = link_to r.document.url do
                      = r.title
                  .columns.small-5.medium-4.large-2
                    = number_to_human_size r.document_file_size

            .row
              .columns.small-24
                .text-center
                  = link_to 'http://www.gobiernoabierto.gob.sv/information_requests/new', class: 'btn', target: '_blank' do
                    Solicite información pública

    = render partial: 'layouts/application/footer'
