.panel
  %h2
    Resultados de búsqueda: #{params[:ft]}
  - if @results.empty?
    %p
      No hay resultados para su búsqueda
      %strong
        = params[:ft]
- if @results.any?
  .table.spaced
    - @results.each do |r|
      / DOCUMENTOS
      - if r.searchable.is_a?(Document)
        - document = r.searchable
        .row
          .columns.small-24.medium-8.large-4.small-order-1.medium-order-1.large-order-1
            = l document.updated_at, format: :localized2
          .columns.small-24.medium-24.large-12.small-order-2.medium-order-2.large-order-2
            = link_to document.document.url, :target => "_blank" do
              = document.name
          .columns.small-12.medium-8.large-4.small-order-4.medium-order-4.large-order-3
            = "#{document.file_extension} | #{number_to_human_size(document.document.size)}"
          .columns.small-24.medium-24.large-24.small-order-3.medium-order-3.large-order-4
            .text-mutted
              = raw summarized_text(document.description, 22, true)
          .columns.small-24.small-order-5
            = link_to document.institution.try(:name), institution_url(document.institution)
            - if document.information_standard_id.present?
              = '.'
              = render partial: 'institutions/standard_url', locals: {institution: document.institution, standard: document.information_standard} rescue nil

      / SERVICIOS
      - if r.searchable.is_a?(Service)
        - item = r.searchable
        - @institution = item.institution_id
        .row
          .columns.small-12.medium-12.large-4.small-order-1.medium-order-3.large-order-1
            = item.updated_at.strftime("%d/%m/%Y")
          .columns.small-24.medium-24.large-24.small-order-2.medium-order-1.large-order-2
            = link_to institution_service_url(@institution, item) do
              = item.name
          .columns.small-24.medium-24.large-24.small-order-3.medium-order-2.large-order-3
            .text-mutted
              = raw summarized_text("#{item.institution_dependency.nil? ? '' : item.institution_dependency.name.to_s+" » " }" + item.description.to_s, 22, true)
          .columns.small-24.small-order-4
            = link_to item.institution.try(:name), institution_url(item.institution)
            = '.'
            = link_to('Servicios', institution_services_url(item.institution))


  %center
    = will_paginate @results
