.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    .panel#ew-area
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"

      - if @show_form
        .row
          = link_to "Descarga CSV", institution_executing_works_url(:format => "csv", :params => @fixed_params, :institution_id => @institution.id)
        = form_tag(institution_executing_works_url(params[:institution_id], anchor: 'ew-area'), method: :get, id: "executing_works") do
          = render partial: "layouts/documents/documents_hidden_fields"
          .filters
            .row.align-justify.align-middle
              .columns.small-24.medium-20.flex
                = text_field_tag "ew_executing_company_or_financing_source_or_location_or_name_or_responsible", nil, placeholder: 'Buscar en obras en ejecución', value: params[:ew_executing_company_or_financing_source_or_location_or_name_or_responsible]
              .columns.small-24.medium-3.flex
                = button_tag "Buscar", class: "btn"
              .columns.small-24.medium-11.flex
                = select_tag "ew_date", options_for_select(@ex_years, :selected => params[:ew_date]), include_blank: "-- Todos los años --"
              .columns.small-24.medium-11.flex
                = select_tag "ew_institution_dependency_id", options_for_select(@dependencies.collect{|p| [ p.name, p.id ] }, selected: params[:ew_institution_dependency_id]), { include_blank: "-- Todas las dependencias --" } rescue nil

        - if @results.size > 0
          .table.spaced.spaced-columns.responsive
            .row.align-justify
              .columns.large-7
                %strong Obra
              .columns.large-12
                %strong Fuente de financiamiento
              .columns.large-4
                %strong Costo

            - @results.each do |item|
              .row.align-justify.align-middle

                .columns.small-24.medium-7.th
                  %strong Obra
                .columns.small-24.medium-16.large-7
                  = link_to item.name, institution_executing_work_url(@institution, item)
                  .text-mutted
                    = item.starting_date.year rescue nil
                .columns.small-24.medium-7.th
                  %strong Fuente de financiamiento
                .columns.small-24.medium-16.large-12

                  = raw summarized_text(item.financing_source, 22, false)

                .columns.small-24.medium-7.th
                  %strong Costo
                .columns.small-24.medium-16.large-4
                  = number_to_currency item.amount
                .columns.small-24.medium-24
                  .text-mutted
                    = "Creación: " + l(item.created_at, format: :localized2) rescue ""
                    %br
                    = "Actualización: " + l(item.updated_at, format: :localized2) rescue ""
          = will_paginate @results
        - else
          %h2
            No se encontraron resultados

    = render partial: "layouts/documents/document", locals: { years: @years,
      documents: @documents, doc_items: @doc_items,
      url: institution_executing_works_url(params[:institution_id], anchor: 'documents-area'),
      document_categories: @document_categories }
