.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    = link_to 'Regresar al listado', institution_executing_works_url(@institution), class: 'back float-left'
    = link_to institution_executing_work_url(@institution, @executing_work, format: :pdf), class: "back float-right", title: "Exportar a PDF" do
      = image_tag 'icon-pdf.png'
      Vista en PDF
    .clearfix

    .panel
      %h2= @executing_work.name

      .table.no-border.no-margin
        - unless @executing_work.institution_dependency_id.nil?
          .row.align-justify
            .columns.small-24.medium-7.large-6
              %strong Dependencia
            .columns.small-24.medium-16.large-17
              = @executing_work.institution_dependency.name rescue nil

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Nombre de la obra
          .columns.small-24.medium-16.large-17
            = @executing_work.name

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Ubicación exacta
          .columns.small-24.medium-16.large-17
            = @executing_work.location

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Costo total de la obra
          .columns.small-24.medium-16.large-17
            = number_to_currency @executing_work.amount

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fuente de financiamiento
          .columns.small-24.medium-16.large-17
            = @executing_work.financing_source
        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de inicio de la obra
          .columns.small-24.medium-16.large-17
            = l @executing_work.starting_date, format: :long

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Tiempo de ejecución
          .columns.small-24.medium-16.large-17
            = @executing_work.execution_time

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Número de beneficiarios
          .columns.small-24.medium-16.large-17
            = number_with_delimiter @executing_work.beneficiaries_number

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Empresa o entidad ejecutora
          .columns.small-24.medium-16.large-17
            = @executing_work.executing_company

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Empresa o entidad supervisora
          .columns.small-24.medium-16.large-17
            = @executing_work.supervising_company

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Nombre del responsable de la obra
          .columns.small-24.medium-16.large-17
            = @executing_work.responsible

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de creación
          .columns.small-24.medium-16.large-17
            = l @executing_work.created_at, format: :localized2

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Fecha de última actualización
          .columns.small-24.medium-16.large-17
            = l @executing_work.updated_at, format: :localized2

    .panel
      %h2 Contenido del contrato

      .table.no-border.no-margin
        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Forma de pago
          .columns.small-24.medium-16.large-17
            = @executing_work.payment_method

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Garantías
          .columns.small-24.medium-16.large-17
            = @executing_work.guarantee

        .row.align-justify
          .columns.small-24.medium-7.large-6
            %strong Código de contrato
          .columns.small-24.medium-16.large-17
            = @executing_work.contract_code

    = link_to 'Regresar al listado', institution_executing_works_url(@institution), class: 'back'
