.header
  .row.align-middle
    .columns
      %h1
        %i.material-icons input
        = t model.to_s.underscore, scope: 'activerecord.models', count: 1
    .columns.shrink
      - unless @item.new_record?

        - if policy(model).new?
          = link_to url_for(action: :new) do
            %i.material-icons add_circle_outline
            %br
            Nuevo

        - if policy(model).destroy?
          = link_to url_for(action: :destroy), method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons.danger delete
            %br
            Eliminar

.breacrumb
  = render_breadcrumbs separator: ' / '

.wrapper
  .row.align-center
    .columns.large-16
      .container
        - if @item.errors.any?
          .alert.error
            No se pudo guardar el registro, por favor, revise los campos del formulario

        - if flash[:saved]
          .alert.success
            Registro guardado correctamente

        = form_for [:panel, @item], as: :item do |f|
          .form

            = render partial: 'form', locals: { f: f }

            .control
              .row.align-center.align-justify
                .columns.small-5
                .columns.small-18
                  = f.button type: :submit do
                    %i.material-icons save
                    Guardar

    .columns.large-8
      .container
        .versions
          %h1
            Actividad

          - if @item.versions.any?
            %ul
              - @item.versions.reverse.each do |version|
                %li
                  .row
                    .columns.shrink
                      %i.material-icons{ class: version.event }
                        = (version.event == 'create' ? 'add' : (version.event == 'update' ? 'update' : 'compare_arrows' ))
                    .columns
                      = link_to panel_version_url(version), remote: true, data: { xhrpopup: true } do
                        = version.admin.try(:name)
                        %small
                          = t "paper_trail.#{version.event}"
                        = version.rename_or_name(' » ')
                    .columns.shrink
                      %small
                        = l version.created_at, format: :localized
          - else
            .empty
              \-- Aún no hay actividad --
