.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    .panel
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"

      - if @documents.count > 0
        = search_form_for @q, url: institution_document_url(params[:institution_id]) do |f|
          .filters
            .row.align-justify.align-middle
              .columns.small-24.medium-10.flex
                = f.search_field :name_or_description_cont, placeholder: 'Buscar'
                .show-for-small-only
                  = button_tag type: :submit, name: nil do
                    = image_tag 'icon-search.png'
              .columns.small-24.medium-10.flex
                = f.select :year_cont, options_for_select(@years, f.object.year_cont), {include_blank: "-- Todos los años --"}
              .columns.medium-3.flex.hide-for-small-only
                = f.button "Filtrar", class: "btn"

              .columns.small-24.medium-10.flex
                = f.select :document_category_id_eq,options_for_select(@document_categories.collect{|p| [ p.name, p.id ] }, f.object.document_category_id_eq), { include_blank: "-- Todas las categorías de documentos --" } rescue nil

        .table.spaced
          - @items.each do |document|
            .row.shareable

              .columns.small-24.medium-24.large-20.small-order-1.medium-order-1.large-order-1
                - if document.document.exists?
                  = link_to download_institution_document_url(@institution, document), :target => "_blank" do
                    = document.name
                - else
                  = document.name
              .columns.small-12.medium-8.large-4.small-order-4.medium-order-4.large-order-3
                = "#{document.file_extension.size > 8 ? 'file': document.file_extension.downcase} | #{number_to_human_size(document.document.size)}" rescue ""
              .columns.small-24.medium-24.large-20.small-order-3.medium-order-2.large-order-4
                - unless document.description.blank?
                  .text-mutted
                    = raw summarized_text(document.description, 22, true)
                .text-bold
                  = document.document_category.name rescue ""
                  %br
                  = "Año: " + document.year.to_s rescue nil
                .text-bold
                  = document.active ? "Vigente" : ""
                .text-mutted
                  = "Creación: " + l(document.created_at, format: :localized2) rescue ""
                  %br
                  = "Actualización: " + l(document.updated_at, format: :localized2) rescue ""
              .columns.small-12.medium-8.large-4.small-order-5.medium-order-5.large-order-5
                - if document.document.exists?
                  = link_to nil, data: { sharer: true, provider: :facebook, url: "#{request.original_url}#{document.document.url}"} do
                    = image_tag 'icon-share.png'
                    Compartir
          %br
          = will_paginate @items
