.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :declaration
    .columns.small-18= f.text_field :declaration

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :category
    .columns.small-18= f.text_field :category

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :classification_date
    .columns.small-18= f.date_select :classification_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 1990 }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :admin_unit
    .columns.small-18= f.text_field :admin_unit

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :classification_type
    .columns.small-18= f.text_field :classification_type

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :declassification_date
    .columns.small-18= f.date_select :declassification_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' } }, class: 'date'

- if action_name == "edit"
  
  #classification_extension
    = f.fields_for :institution_historical_confidential_infos do |ff|
      .control
        .row.align-middle.align-justify
          = ff.text_field :last_date, { value: ff.object.last_date.nil? ? @item.declassification_date : ff.object.last_date, readonly: true}
      .control
        .row.align-middle.align-justify
          .columns.small-5= ff.label :comment
          .columns.small-18= ff.text_area :comment, rows: 2


.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :legal_foundation
    .columns.small-18= f.text_area :legal_foundation, rows: 6

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :justification
    .columns.small-18= f.text_area :justification, rows: 6
