%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

%script{ type: 'text/ng-template', id: '/date-filter-from-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Desde' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-from' => 'true', before: "params.filter()[name.replace('_gteq', '_lteq')]" }

%script{ type: 'text/ng-template', id: '/date-filter-to-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Hasta' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-to' => 'true', after: "params.filter()[name.replace('_lteq', '_gteq')]" }

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }

      %td{ data: { title: "'Activo'" }, 'ng-if' => 'true', filter: "{ enabled_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'enabled'" }
        %input{ type: :checkbox, class: 'decorated-checkbox check', 'ng-model' => 'item.enabled', 'ng-click' => "submitField($event, 'enabled', item)" }

      %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.institution_id }}

      %td{ data: { title: "'Número de declaratoria'" }, 'ng-if' => 'true', filter: "{ declaration_cont: 'text' }", sortable: "'declaration'" } {{ item.declaration }}

      %td{ data: { title: "'Nombre del documento'" }, 'ng-if' => 'true', filter: "{ category_cont: 'text' }", sortable: "'category'" } {{ item.category }}

      %td{ data: { title: "'Fecha de clasificación'" }, 'ng-if' => 'true', filter: "table.dateFilter('classification_date')", sortable: "'classification_date'" } {{ item.classification_date | date:'dd/MM/yy hh:mm a' }}

      %td{ data: { title: "'Unidad administrativa'" }, 'ng-if' => 'true', filter: "{ admin_unit_cont: 'text' }", sortable: "'admin_unit'" } {{ item.admin_unit }}

      %td{ data: { title: "'Tipo de clasificación'" }, 'ng-if' => 'true', filter: "{ classification_type_cont: 'text' }", sortable: "'classification_type'" } {{ item.classification_type }}

      %td{ data: { title: "'Fecha de desclasificación'" }, 'ng-if' => 'true', filter: "table.dateFilter('declassification_date')", sortable: "'declassification_date'" } {{ item.declassification_date | date:'dd/MM/yy hh:mm a' }}

      %td{ data: { title: "'Fundamento legal'" }, 'ng-if' => 'true', filter: "{ legal_foundation_cont: 'text' }", sortable: "'legal_foundation'" } {{ item.legal_foundation }}

      %td{ data: { title: "'Justificación'" }, 'ng-if' => 'true', filter: "{ justification_cont: 'text' }", sortable: "'justification'" } {{ item.justification }}

      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
          %i.material-icons border_color
          Editar

        - if policy(model).destroy?
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons delete
            Eliminar
