.row.align-middle
  .columns.small-24
    .visibility-controls
      = label_tag nil, 'ng-repeat' => 'col in table.cols' do
        %input{ type: :checkbox, ng: { model_options: "{ getterSetter: true }", model: 'col.show' }}
        %span {{ col.title() }}
