.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :active
    .columns.small-18= f.check_box :active, class: 'decorated-checkbox box'

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

- if current_admin.manage_dependencies?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_dependency_id
      .columns.small-18= f.select :institution_dependency_id, @institution_dependencies.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :services_category_id
    .columns.small-18= f.select :services_category_id, @services_categories.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_area :description, rows: 6

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :address
    .columns.small-18= f.text_area :address, rows: 3

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :schedule
    .columns.small-18= f.text_area :schedule, rows: 3

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :response_time
    .columns.small-18= f.text_field :response_time

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :cost
    .columns.small-18= f.text_field :cost

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :responsible_area
    .columns.small-18= f.text_field :responsible_area

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :responsible_name
    .columns.small-18= f.text_field :responsible_name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :requirements
    .columns.small-18= f.text_area :requirements, rows: 6

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :observations
    .columns.small-18= f.text_area :observations, rows: 4

%br
%br
%h2
  Archivos adjuntos

#service-attachments
  = f.fields_for :service_attachments do |service_attachment|
    = render partial: 'service_attachment_fields', locals: { f: service_attachment }

  .add-nested
    = link_to_add_association f, :service_attachments do
      %i.material-icons add_circle_outline
      Agregar
