%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

%script{ type: 'text/ng-template', id: '/date-filter-from-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Desde' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-from' => 'true', before: "params.filter()[name.replace('_gteq', '_lteq')]" }

%script{ type: 'text/ng-template', id: '/date-filter-to-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Hasta' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-to' => 'true', after: "params.filter()[name.replace('_lteq', '_gteq')]" }

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons border_color
            Editar

          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons delete
            Eliminar
      %td{ data: { title: "'Importante'" }, 'ng-if' => 'true', filter: "{ marked_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'marked'" }
        %input{ type: :checkbox, class: 'decorated-checkbox star', 'ng-model' => 'item.marked', 'ng-click' => "submitField($event, 'marked', item)" }
      %td{ data: { title: "'Activo'" }, 'ng-if' => 'true', filter: "{ enabled_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'enabled'" }
        %input{ type: :checkbox, class: 'decorated-checkbox check', 'ng-model' => 'item.enabled', 'ng-click' => "submitField($event, 'enabled', item)" }
      %td{ data: { title: "'Vigente'" }, 'ng-if' => 'true', filter: "{ active_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'active'" }
        %input{ type: :checkbox, class: 'decorated-checkbox check', 'ng-model' => 'item.active', 'ng-click' => "submitField($event, 'active', item)" }
      - unless current_admin.one_institution?
        %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.institution_id }}
      - if current_admin.manage_dependencies?
        %td{ data: { title: "'Dependencia'" }, 'ng-if' => 'true', filter: "{ institution_dependency_id_eq: 'select' }", 'filter-data' => "getSelectList('institution_dependencies')", sortable: "'institution_dependency_name'" } {{ item.institution_dependency_id }}
      %td{ data: { title: "'Categoría de servicios'" }, 'ng-if' => 'true', filter: "{ services_category_id_eq: 'select' }", 'filter-data' => "getSelectList('services_categories')", sortable: "'services_category_name'" } {{ item.services_category_id }}
      %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}
      %td{ data: { title: "'Fecha de creación'" }, 'ng-if' => 'true', filter: "table.dateFilter('created_at')", sortable: "'created_at'" } {{ item.created_at | date:'dd/MM/yy hh:mm a' }}
      %td{ data: { title: "'Fecha de actualización'" }, 'ng-if' => 'true', filter: "table.dateFilter('updated_at')", sortable: "'updated_at'" } {{ item.updated_at | date:'dd/MM/yyyy hh:mm a' }}
