.error-page
  .panel
    %h1.text-center
      503
    %h2.text-center
      El servicio que solicitó no está disponible.

    %p.text-center
      Lo invitamos a consultar información pública de
      = @institutions_count
      instituciones que reunen más de
      = number_with_delimiter @documents_count
      documentos

    .categories
      - @institution_types.each do |institution_type|
        = link_to category_url(institution_type) do
          = institution_type.name
          = " (#{institution_type.how_many?})"
