- if Rails.env.production? && action_name != "search"
  %script{ async: true, src: 'https://www.googletagmanager.com/gtag/js?id=UA-107090065-1' }
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-107090065-1', {
      'custom_map': {
        'dimension1': 'InstitutionId',
        'dimension2': 'InformationStandardId'
      }
    });
    #{@institution.nil? ? '' : "gtag('event', 'institution_view', {'InstitutionId': #{@institution.id}})"}
    #{@institution.nil? ? '' : "gtag('set', {'content_group1': #{@institution.id}})"}
    #{@information_standard.nil? ? '' : "gtag('set', {'content_group2': #{@information_standard.id}})"}
    #{@information_standard.nil? ? '' : "gtag('event', 'information_standard_view', {'InformationStandardId': #{@information_standard.id}})"}
