%footer
  .container
    .row.align-spaced.align-middle
      .columns.small-24.medium-24.large-7.small-order-3.medium-order-3.large-order-1
        .text-left.responsive.medium
          %strong
            Secretaría de Participación,
            %br
            Transparencia y Anticorrupción
          %address
            Presidencia de la República de El Salvador
            %br
            Alameda Manuel Enrique Araujo, No. 5500.
            %br
            San Salvador, El Salvador, C.A.
            %br
            Tel. +(503) 2133-7500 | Email. info@gobiernoabierto.gob.sv

      .columns.small-24.medium-18.large-10.small-order-2.medium-order-1.large-order-2
        .text-left.responsive.medium
          Suscríbase a nuestro boletín
          = form_tag nil do
            .row
              .columns
                = email_field_tag '', '', placeholder: 'usuario@dominio.com'
              .columns.shrink
                = button_tag type: :submit, name: nil do
                  Suscribirse

          .row
            .columns.small-24.medium-12
              = image_tag 'icon-whatsapp.png'
              %span
                %i.number
                  +503 7900-0010
                %small
                  Whatsapp

            .columns.small-24.medium-12
              = image_tag 'icon-directory.png'
              %span
                %i.number
                  +503 2133-7500
                %small
                  Fijo

      .columns.small-24.medium-18.large-7.small-order-1.medium-order-2.large-order-3
        .row
          .columns.small-24.medium-12
            %ul
              %li= link_to 'Sobre la secretaría'
              %li= link_to 'Coyunturas'
              %li= link_to 'Novedades'
          .columns.small-24.medium-12
            %ul
              %li= link_to 'Casos emblemáticos'
              %li= link_to 'Descargas y Multimedia'
              %li= link_to 'Prensa'
