%header
  .container
    .row.align-spaced.align-middle
      .columns.small-20.medium-18.large-6.small-order-2.medium-order-1.large-order-1
        .text-left.responsive
          = link_to root_url, class: 'brand' do
            %figure
              = image_tag 'transparencia-sv.png'
              transparencia.gob.sv

      .columns.small-22.medium-16.large-13.small-order-3.medium-order-3.large-order-2
        .text-left.responsive.medium
          = form_tag(search_url, method: :get) do
            = search_field_tag 'ft', params[:ft], placeholder: 'Buscar'
            = button_tag type: :submit, name: nil do
              = image_tag 'icon-search-white.png'

      .columns.small-24.medium-6.large-3.small-order-1.medium-order-2.large-order-3
        .menu
          = link_to 'API', api_v1_home_index_url
          = mail_to 'info@gobiernoabierto.gob.sv' do
            = image_tag('icon-mail.png')
