.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :budgetary_unit_id
    .columns.small-18= f.select :budgetary_unit_id, @budgetary_units.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :digit
    .columns.small-18= f.text_field :digit

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :code
    .columns.small-18= f.text_field :code

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name
