%hot-table{ datarows: 'items', settings: "{stretchH: 'last', colHeaders: 'true', renderAllRows: 'true'}", 'row-headers' => 'true' }
  %hot-column{ data: 'record_status', title: "'Estado'", 'read-only': true }
  %hot-column{ data: 'enabled', title: "'Activo'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }
  %hot-column{ data: 'active', title: "'Vigente'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }
  %hot-column{ data: 'year', title: "'Año'", type: "'numeric'", format: "'0000'" }

  - unless current_admin.one_institution?
    %hot-column{ data: 'institution_id', title: "'Institución'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institutions')" }

  %hot-column{ data: 'work_line_id', title: "'Línea de trabajo'", type: "'autocomplete'", strict: "'true'" }
    %hot-autocomplete{ datarows: "name in gridOptions('work_lines')" }

  %hot-column{ data: 'name', title: "'Cargo presupuestario'" }
  %hot-column{ data: 'employees_number', title: "'Número de empleados'", type: "'numeric'", format: "'0'" }
  %hot-column{ data: 'ad_honorem', title: "'Ad honorem'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }
  %hot-column{ data: 'monthly_remuneration', title: "'Remuneración mensual para cada uno'", type: "'numeric'", format: "'$0.00'" }
  %hot-column{ data: 'expenses_remuneration', title: "'Dietas u otros gastos de representación'", type: "'numeric'", format: "'$0.00'" }
  %hot-column{ data: 'salary_category', title: "'Categoría salarial'" }

- content_for :filters do
  .grid-filters
    .row.align-spaced.align-middle

      - unless current_admin.one_institution?
        .columns.small-5
          = label_tag nil, 'Institución'
          %select{ 'ng-model' => 'filters.institution_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institutions')" }
            %option{ value: '' }

      .columns.small-5
        = label_tag nil, 'Línea de trabajo'
        %select{ 'ng-model' => 'filters.work_line_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('work_lines')" }
          %option{ value: '' }

      .columns.small-2
        = label_tag nil, 'Año'
        %input{ 'ng-model' => 'filters.year_cont' }

      .columns.small-5
        %br
        = link_to nil, class: 'btn blue', 'ng-click' => 'filter($event)' do
          %span.material-icons filter_list
          Filtrar
