.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name


    .panel#process-area
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"

      - if @show_form
        = search_form_for @qprocs, url: institution_selections_url(params[:institution_id], anchor: 'process-area') do |f|
          .filters
            .row.align-justify.align-middle
              .columns.small-24.medium-10.flex
                = f.search_field :name_or_description_cont, placeholder: 'Buscar'
                .show-for-small-only
                  = button_tag type: :submit, name: nil do
                    = image_tag 'icon-search.png'
              .columns.small-24.medium-10.flex
                = f.select :year_cont, options_for_select(@years, f.object.year_cont), {include_blank: "-- Todos los años --"}
              .columns.medium-3.flex.hide-for-small-only
                = f.button "Filtrar", class: "btn"

              .columns.small-24.medium-10.flex
                = f.select :document_category_id_eq, options_for_select(@document_categories.collect{|p| [ p.name, p.id ] }, f.object.document_category_id_eq), { include_blank: "-- Todas las categorías de documentos --" } rescue nil

        .table.spaced
          - @items.each do |document|
            .row.shareable
              .columns.small-24.medium-24.large-20.small-order-1.medium-order-1.large-order-1
                = link_to document.document.url, :target => "_blank" do
                  = document.name
              .columns.small-12.medium-8.large-4.small-order-4.medium-order-4.large-order-3
                = "#{document.file_extension} | #{number_to_human_size(document.document.size)}"
              .columns.small-24.medium-24.large-20.small-order-3.medium-order-2.large-order-4
                - unless document.description.blank?
                  .text-mutted
                    = raw summarized_text(document.description, 22, true)
                .text-bold
                  = document.document_category.name rescue ""
                  %br
                  = "Año: " + document.year.to_s rescue nil
                .text-bold
                  = document.active ? "Vigente" : ""
                .text-mutted
                  = "Creación: " + l(document.created_at, format: :localized2) rescue ""
                  %br
                  = "Actualización: " + l(document.updated_at, format: :localized2) rescue ""
              .columns.small-12.medium-8.large-4.small-order-5.medium-order-5.large-order-5
                = link_to nil, data: { sharer: true, provider: :facebook, url: "#{request.original_url}#{document.document.url}"} do
                  = image_tag 'icon-share.png'
                  Compartir
          %br
          = will_paginate @items

    - if @show_form2
      .panel#selection-area
        %h2 Resultado de Selección y Contratación de Personal
        = form_tag(institution_selections_url(params[:institution_id], anchor: 'selection-area'), method: :get, id: "officials") do
          .filters
            .row.align-justify.align-middle
              .columns.small-20.flex
                = text_field_tag "recruitment_name", nil, placeholder: 'Buscar en listado de resultados de selección', value: params[:recruitment_name]
              .columns.small-4.flex
                = button_tag "Buscar", class: "btn"

        - if @results.size > 0
          .table.spaced.spaced-columns.responsive
            .row.align-justify
              .columns.large-12
                %strong Nombre de la plaza
              .columns.large-12
                %strong Enlace directo
                
            - @results.each do |item|
              .row.align-justify.align-middle
                .columns.large-12
                  = item.name
                .columns.large-12
                  = link_to item.job_url, item.job_url, target: '_blank'

          = will_paginate @results
        - else
          %h2
            No se encontraron resultados
