%hot-table{ datarows: 'items', settings: "{stretchH: 'last', colHeaders: 'true', renderAllRows: 'true'}", 'row-headers' => 'true' }
  %hot-column{ data: 'record_status', title: "'Estado'", 'read-only': true }
  %hot-column{ data: 'enabled', title: "'Activo'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }

  - unless current_admin.one_institution?
    %hot-column{ data: 'institution_id', title: "'Institución'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institutions')" }

  - if current_admin.manage_dependencies?
    %hot-column{ data: 'institution_dependency_id', title: "'Dependencia'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institution_dependencies')" }

  %hot-column{ data: 'name', title: "'Nombre o título del viaje'" }
  %hot-column{ data: 'officer_name', title: "'Funcionario que viaja'" }
  %hot-column{ data: 'officer_position', title: "'Cargo del funcionario'" }
  %hot-column{ data: 'destination', title: "'Destino'" }
  %hot-column{ data: 'departure_date', title: "'Fecha de salida'" }
  %hot-column{ data: 'return_date', title: "'Fecha de regreso'" }
  %hot-column{ data: 'passage_amount', title: "'Costo pasaje'", type: "'numeric'", format: "'$0.00'" }

  %hot-column{ data: 'passage_payer', title: "'Pasaje pagado por'", type: "'autocomplete'", strict: "'true'" }
    %hot-autocomplete{ datarows: "name in gridOptions('passage_payers')" }

  %hot-column{ data: 'passage_payer_comments', title: "'Comentarios pago de pasaje'" }
  %hot-column{ data: 'viatical_amount', title: "'Costo viáticos'", type: "'numeric'", format: "'$0.00'" }

  %hot-column{ data: 'viatical_payer', title: "'Viáticos pagados por'", type: "'autocomplete'", strict: "'true'" }
    %hot-autocomplete{ datarows: "name in gridOptions('viatical_payers')" }

  %hot-column{ data: 'viatical_payer_comments', title: "'Comentarios pago de viáticos'" }
  %hot-column{ data: 'expenses_amount', title: "'Monto otros gastos'", type: "'numeric'", format: "'$0.00'" }

  %hot-column{ data: 'expenses_payer', title: "'Otros gastos pagados por'", type: "'autocomplete'", strict: "'true'" }
    %hot-autocomplete{ datarows: "name in gridOptions('expenses_payers')" }

  %hot-column{ data: 'expenses_payer_comments', title: "'Comentarios pago de otros gastos'" }
  %hot-column{ data: 'objective', title: "'Objetivos del viaje'" }
  %hot-column{ data: 'observations', title: "'Observaciones'" }

- if !current_admin.one_institution? || current_admin.manage_dependencies?
  - content_for :filters do
    .grid-filters
      .row.align-spaced.align-middle

        - unless current_admin.one_institution?
          .columns.small-5
            = label_tag nil, 'Institución'
            %select{ 'ng-model' => 'filters.institution_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institutions')" }
              %option{ value: '' }

        - if current_admin.manage_dependencies?
          .columns.small-5
            = label_tag nil, 'Dependencia'
            %select{ 'ng-model' => 'filters.institution_dependency_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institution_dependencies')" }
              %option{ value: '' }

        .columns.small-5
          %br
          = link_to nil, class: 'btn blue', 'ng-click' => 'filter($event)' do
            %span.material-icons filter_list
            Filtrar
