.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :active
    .columns.small-18= f.check_box :active, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :downloads
    .columns.small-18= f.object.downloads

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :priority
    .columns.small-18= f.text_field :priority

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :year
    .columns.small-18= f.text_field :year

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true
- else
  = f.hidden_field :institution_id, value: current_admin.institutions.first.id

- if current_admin.manage_dependencies?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_dependency_id
      .columns.small-18= f.select :institution_dependency_id, @institution_dependencies.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :information_standard_id
    .columns.small-18= f.select :information_standard_id, @information_standards.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :document_category_id
    .columns.small-18= f.select :document_category_id, @document_categories.map{ |i| [i.acts_as_label, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_area :description, rows: 6

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :document

    - if f.object.persisted? && f.object.document.present?
      .columns.small-15= f.file_field :document
      .columns.small-2
        = link_to f.object.document.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :document
