%hot-table{ datarows: 'items', settings: "{stretchH: 'last', colHeaders: 'true', renderAllRows: 'true'}", 'row-headers' => 'true' }
  %hot-column{ data: 'record_status', title: "'Estado'", 'read-only': true }
  %hot-column{ data: 'enabled', title: "'Activo'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }
  %hot-column{ data: 'active', title: "'Vigente'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }
  %hot-column{ data: 'year', title: "'Año'", type: "'numeric'", format: "'0000'" }

  - unless current_admin.one_institution?
    %hot-column{ data: 'institution_id', title: "'Institución'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institutions')" }

  - if current_admin.manage_dependencies?
    %hot-column{ data: 'institution_dependency_id', title: "'Dependencia'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institution_dependencies')" }

  %hot-column{ data: 'name', title: "'Nombre'" }
  %hot-column{ data: 'location', title: "'Ubicación exacta'" }
  %hot-column{ data: 'amount', title: "'Costo total de la obra'", type: "'numeric'", format: "'$0.00'" }
  %hot-column{ data: 'financing_source', title: "'Fuente de financiamiento'" }
  %hot-column{ data: 'starting_date', title: "'Fecha de inicio de la obra'" }
  %hot-column{ data: 'execution_time', title: "'Tiempo de ejecución'" }
  %hot-column{ data: 'beneficiaries_number', title: "'Número de beneficiarios'", type: "'numeric'", format: "'0'" }
  %hot-column{ data: 'executing_company', title: "'Empresa o entidad ejecutora'" }
  %hot-column{ data: 'supervising_company', title: "'Empresa o entidad supervisora'" }
  %hot-column{ data: 'responsible', title: "'Nombre del responsable de la obra'" }
  %hot-column{ data: 'payment_method', title: "'Forma de pago'" }
  %hot-column{ data: 'guarantee', title: "'Garantías'" }
  %hot-column{ data: 'contract_code', title: "'Código de contrato'" }

- content_for :filters do
  .grid-filters
    .row.align-spaced.align-middle

      - unless current_admin.one_institution?
        .columns.small-5
          = label_tag nil, 'Institución'
          %select{ 'ng-model' => 'filters.institution_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institutions')" }
            %option{ value: '' }

      - if current_admin.manage_dependencies?
        .columns.small-5
          = label_tag nil, 'Dependencia'
          %select{ 'ng-model' => 'filters.institution_dependency_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institution_dependencies')" }
            %option{ value: '' }

      .columns.small-2
        = label_tag nil, 'Año'
        %input{ 'ng-model' => 'filters.year_cont' }

      .columns.small-5
        %br
        = link_to nil, class: 'btn blue', 'ng-click' => 'filter($event)' do
          %span.material-icons filter_list
          Filtrar
