.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    .panel
      %h2 Resultado de Selección y Contratación de Personal
      = form_tag(institution_recruitment_results_url(params[:institution_id]), method: :get, id: "officials") do
        .filters
          .row.align-justify.align-middle
            .columns.small-20.flex
              = text_field_tag "recruitment_name", nil, placeholder: 'Buscar en listado de resultados de selección', value: params[:recruitment_name]
            .columns.small-4.flex
              = button_tag "Buscar", class: "btn"

      - if @results.size > 0
        .table.spaced.spaced-columns.responsive
          .row.align-justify
            .columns.large-12
              %strong Nombre de la plaza
            .columns.large-12
              %strong Enlace directo
          - @results.each do |item|
            .row.align-justify.align-middle
              .columns.large-12
                = item.name
              .columns.large-12
                = item.job_url
              .columns.small-24.medium-24
                .text-mutted
                  = "Creación: " + l(item.created_at, format: :localized2) rescue ""
                  %br
                  = "Actualización: " + l(item.updated_at, format: :localized2) rescue ""
        = will_paginate @results
      - else
        %h2
          No se encontraron resultados
    = render partial: "layouts/documents/document", locals: { years: @years,
      documents: @documents, doc_items: @doc_items,
      url: institution_recruitment_results_url(params[:institution_id]),
      document_categories: @document_categories }
