.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :priority
    .columns.small-18= f.text_field :priority

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name
