.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name


    .panel#participation-area
      %h2
        = @information_standard.name
        %p.text-mutted
          = @information_standard.try(:description)

      - unless @disclaimers.empty?
        .disclaimer.callout.callout-warning
          %h2
            Nota(s) aclaratoria(s)
          - @disclaimers.each do |disclaimer|
            .row.align-justify.align-middle.margin-down
              .columns.small-20.medium-8.small-order-1.medium-order-1
                = disclaimer.name
              .columns.small-24.medium-13.small-order-2.medium-order-2
                = disclaimer.description
              .columns.small-4.medium-3.small-order-1.medium-order-3
                = link_to image_tag('icon-download-small-gray.png'), disclaimer.file.url, target: "_blank"

      - if @show_form
        = form_tag(institution_participation_mechanisms_url(params[:institution_id], anchor: 'participation-area'), method: :get, id: "officials") do
          = render partial: "layouts/documents/documents_hidden_fields"
          .filters
            .row.align-justify.align-middle
              .columns.small-20.flex
                = text_field_tag "pm_fields", nil, placeholder: 'Buscar en listado de mecanismos de participación', value: params[:pm_fields]
              .columns.small-4.flex
                = button_tag "Buscar", class: "btn"
              .columns.small-24.medium-11.flex
                = select_tag "pm_date", options_for_select(@pm_years, :selected => params[:pm_date]), include_blank: "-- Todos los años --"
              .columns.small-24.medium-11.flex
                = select_tag "pm_institution_dependency_id", options_for_select(@dependencies.collect{|p| [ p.name, p.id ] }, selected: params[:pm_institution_dependency_id]), { include_blank: "-- Todas las dependencias --" } rescue nil
        - if @results && @results.size > 0
          .table.spaced.spaced-columns.responsive
            .row.align-justify
              .columns.large-8
                %strong Descripción
              .columns.large-8
                %strong Requisitos de participación
              .columns.large-8
                %strong Resultado
            - @results.each do |item|
              .row.align-justify.align-middle
                .columns.large-8
                  = link_to institution_participation_mechanism_url(@institution, item) do
                    = item.description
                .columns.large-8
                  = raw summarized_text(item.participation_requirements, 22, false) rescue " "
                .columns.large-8
                  = raw summarized_text(item.objetive, 22, false) rescue " "
                .columns.small-24.medium-24
                  .text-mutted
                    = "Creación: " + l(item.created_at, format: :localized2) rescue ""
                    %br
                    = "Actualización: " + l(item.updated_at, format: :localized2) rescue ""
          = will_paginate @results
        - else
          %h2
            No se encontraron resultados

    = render partial: "layouts/documents/document", locals: { years: @years,
      documents: @documents, doc_items: @doc_items,
      url: institution_participation_mechanisms_url(params[:institution_id], anchor: 'documents-area'),
      document_categories: @document_categories }
