.row.align-center

  .columns.small-24.medium-8.large-6
    = render partial: 'institutions/nav'

  .columns.small-24.medium-15.large-18
    %h1
      = @institution.acronym
      %small
        = @institution.name

    = link_to 'Regresar al listado', institution_participation_mechanisms_url(@institution), class: 'back float-left'
    = link_to institution_participation_mechanism_url(@institution, @mechanism, format: :pdf), class: "back float-right", title: "Exportar a PDF" do
      = image_tag 'icon-pdf.png'
      Vista en PDF
    .clearfix

    .panel
      %h2
        = "Detalle del mecanismo de participación"

      .table.no-border.no-margin
        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Nombre
          .columns.small-24.medium-17.large-17
            = @mechanism.name

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Descripción
          .columns.small-24.medium-17.large-17
            = @mechanism.description
        - unless @mechanism.institution_dependency_id.blank?
          .row.align-justify
            .columns.small-24.medium-7.large-6
              %strong Dependencia
            .columns.small-24.medium-16.large-17
              = @mechanism.institution_dependency.name rescue nil

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de inicio de ejecución
          .columns.small-24.medium-17.large-17
            = l @mechanism.execution_date_begin, format: :long

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de fin de ejecución
          .columns.small-24.medium-17.large-17
            = l @mechanism.execution_date_end, format: :long

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Requisitos de participación
          .columns.small-24.medium-17.large-17
            = @mechanism.participation_requirements

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Objetivo
          .columns.small-24.medium-17.large-17
            = @mechanism.objetive

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Resultado
          .columns.small-24.medium-17.large-17
            = @mechanism.result
        - if @mechanism.report.exists?
          .row.align-justify
            .columns.small-24.medium-6.large-6
              %strong Informe
            .columns.small-24.medium-17.large-17
              = link_to "Adjunto", @mechanism.report.url, target: "_blank"

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de creación
          .columns.small-24.medium-17.large-17
            = l @mechanism.created_at, format: :localized2

        .row.align-justify
          .columns.small-24.medium-6.large-6
            %strong Fecha de última actualización
          .columns.small-24.medium-17.large-17
            = l @mechanism.created_at, format: :localized2

    = link_to 'Regresar al listado', institution_participation_mechanisms_url(@institution), class: 'back'
