@import url('https://fonts.googleapis.com/css?family=Mitr:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');

@import 'vars';
@import 'mixins';
@import 'foundation';
@import 'nav';
@import 'home';
@import 'categories';
@import 'institutions';
@import 'mobile-custom';

body {
  color: $dark;
  font-family: 'Mitr', sans-serif;
  font-weight: $light;
}

.flex {
  display: flex;
}

.row {
  max-width: none;
}

.number {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: $light;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left,
.text-right {
  &.responsive {
    @media screen and (max-width: 639px) {
      text-align: center;
    }

    &.medium {
      @media screen and (max-width: 1023px) {
        text-align: center;
      }
    }
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-mutted {
  color: lighten($dark, 40%);
}

.text-bold {
  color: darken($dark, 100%);
}

.btn {
  background: $blue;
  border-radius: .4em;
  color: $white;
  font-size: .8em;
  font-weight: $normal;
  margin: .7em;
  padding: .5em 1em;
  text-align: center;
}

.overlayed {
  @media screen and (max-width: 639px) {
    overflow: hidden;
  }
}

main {
  padding: 1em;
}

h1 {
  color: $black;
  font-size: 2.2em;
  font-weight: $medium;
  margin: 0;

  small {
    display: block;
    font-size: .46em;
    font-weight: $normal;
    line-height: 1.2;
  }
}

h2 {
  font-size: 1em;
  font-weight: $normal;
  line-height: 1.2;
  margin: 0 0 1em;
  padding: .2em 0;
  text-align: left;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

strong {
  color: $black;
  font-weight: $normal;
}

b {
  color: $black;
  font-weight: $light;
}

figure {
  margin: 0;
}

header {
  @include box-shadow(0 1px 3em 0 transparentize($dark-blue, .4));
  background: $blue;
  color: $white;
  padding: 1em;

  @media screen and (max-width: 1023px) {
    padding: 1em 1em .5em;
  }

  .container {
    max-width: 960px;
  }

  .columns {
    @media screen and (max-width: 1023px) {
      padding: 0 0 1em;
    }

    &:last-child {
      @media screen and (max-width: 639px) {
        padding: 0 0 .5em;
      }
    }
  }

  form {
    white-space: nowrap;
  }

  input,
  button {
    border: 1px transparent solid;
    display: inline-block;
    height: 32px;
    margin: 0;
  }

  input {
    background: transparentize($white, .8);
    border-radius: 4px;
    color: $white;
    font-size: .9em;
    padding: 0 .5em;
    width: 90%;

    @include placeholder {
      color: $white;
    }

    &:focus {
      border: 1px $white solid;
      outline: none;
    }
  }

  button {
    background: transparent;
    border-radius: 10px;
    margin: 0 0 0 -40px;
    padding: 0;
    text-align: center;
    width: 32px;
  }

  figure {
    font-size: 1.1em;
    font-weight: $normal;
    height: 40px;

    img {
      height: 40px;
    }
  }

  .menu {
    text-align: right;

    a {
      font-size: .8em;
      margin: 0 0 0 1em;
    }

    img {
      width: 21px;
    }
  }
}

.breadcrumb {
  font-size: .8em;
  font-weight: $extra-light;
  padding: 1.5em 1em 0;

  .container {
    max-width: 900px;
  }

  a {
    color: $blue;
    margin: .5em 0;
  }
}

footer {
  background: $cobalt;
  color: lighten($cobalt, 25%);
  font-weight: $extra-light;
  margin: 1em 0 0;
  padding: 2em 1em;

  .container {
    max-width: 1400px;
  }

  .row {
    @media screen and (max-width: 1023px) {
      padding: .5em 0;
    }
  }

  strong {
    color: inherit;
    display: inline-block;
    font-size: 1.1em;
    font-weight: $extra-light;
    line-height: 1.1;

    @media screen and (max-width: 1023px) {
      margin: 1em 0 0;
    }
  }

  address {
    font-size: .8em;
    font-style: normal;
    line-height: 1.2;
    margin: 1em 0 0;
  }

  ul {
    font-size: .9em;
    list-style: none;
    margin: 0;
    padding: 0 0 0 2em;
  }

  li {
    background: image-url('bullet-1.png') left 1em no-repeat;
    padding: .5em 0 .5em 1em;
  }

  form {
    margin: .5em 0 1.5em;

    @media screen and (max-width: 1023px) {
      margin: .5em 0 0;
    }
  }

  input,
  button {
    border: 1px transparent solid;
    display: inline-block;
    height: 38px;
    margin: 0;

    &:focus {
      border: 1px $blue solid;
      outline: none;
    }
  }

  input {
    border-radius: 5px 0 0 5px;
    color: $dark;
    padding: 0 .5em;
    width: 100%;
  }

  button {
    background: $blue;
    border-radius: 0 5px 5px 0;
    color: $white;
    padding: 0 1em;
  }

  span {
    display: inline-block;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;

    @media screen and (max-width: 1023px) {
      margin: .8em 0;
    }

    small {
      display: block;
    }
  }

  .number {
    font-size: 1.4em;
  }
}

.table {
  font-size: .8em;
  line-height: 1.2;
  margin: 0 0 2em;

  .row {
    border-bottom: 1px darken($white, 13%) solid;
    padding: .3em 0;

    &:last-child {
      border: 0;
    }

    @media screen and (max-width: 1023px) {
      padding: .5em 0;
    }

    @media screen and (max-width: 639px) {
      padding: 1em 0;
    }
  }

  .columns {
    padding: .2em 0;

    @media screen and (max-width: 639px) {
      padding: .5em 0;
    }
  }

  a {
    color: $blue;
  }

  p {
    font-size: 1.1em;
    margin: 0 0 .5em;
  }

  .lbl {
    font-size: 1.2em;
  }

  .btn {
    color: $white;
    font-size: 1em;
    margin: 0;
  }

  &.spaced {
    .row {
      padding: 1em 0 1.5em;
    }
  }

  &.spaced-columns {
    .columns {
      padding: .4em 0 .8em;
    }

    .th {
      display: none;

      @media screen and (max-width: 1023px) {
        display: block;
      }

      @media screen and (max-width: 639px) {
        padding: .6em 0 0;
      }
    }
  }

  &.responsive {
    .row:first-child {
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }

  &.no-border {
    .row {
      border: 0;
      padding: .6em 0;
    }

    .columns {
      @media screen and (max-width: 639px) {
        padding: .2em 0;
      }
    }
  }

  &.no-margin {
    margin: 0;
  }

  img {
    max-width: 16px;
  }
}

.shareable {
  > .columns:last-child {
    a {
      display: none;

      @media screen and (max-width: 1023px) {
        display: inline-block;
      }
    }
  }

  &:hover {
    > .columns:last-child a {
      display: inline-block;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.panel {
  background: image-url('bg-panel.png') left top no-repeat;
  box-shadow: 2em 0 0 0 $white,
              -2em 0 0 0 $white,
              0 -2em 0 0 $white,
              0 1px 3em 0 transparentize($dark-blue, .7);
  margin: 2em auto 3em;
  padding: 0 0 2em 2em;

  @media screen and (max-width: 639px) {
    padding: 0 1em 2em;
  }

  &.v2 {
    background: $white;
    padding: 0 0 2em;
  }

  &.ckeditor {
    ul,
    ol {
      font-size: .8em;
    }

    li {
      padding: .4em 0;
    }
  }
}

p {
  font-size: .8em;
}

section {
  font-size: .8em;

  strong {
    display: block;
  }

  dl {
    margin: .5em 0 0;
  }

  dt,
  dd {
    display: inline-block;
    line-height: 1.2;
    margin: 0;
    padding: .2em 0;
  }

  dd {
    font-weight: $normal;
  }

  address {
    font-style: normal;
    line-height: 1.2;
    margin: .5em 0 0;
  }

  a {
    color: $blue;
  }

  p {
    font-size: 1em;
    margin: .5em 0;
  }

  b {
    color: $blue;
    font-size: 1.6em;
    font-weight: $extra-light;
    line-height: 1.1;
  }
}

.score {
  background: image-url('bg-score.png') left top no-repeat;
  color: $white;
  display: inline-block;
  height: 138px;
  text-align: center;
  width: 83px;

  .number {
    font-size: 2.3em;
  }

  small {
    display: inline-block;
    line-height: 1.2;
  }

  a {
    color: $blue;
    font-size: .8em;
    margin: 2.5em 0 0;
  }
}

.back {
  color: $blue;
  font-size: .8em;
  margin: 1.6em 0 .4em;

  &:last-child {
    margin: 0 0 1em;
  }
}

.filters {
  padding: 0 0 1em;

  .columns {
    padding: .5em 0;
    white-space: nowrap;
  }

  input,
  button {
    background: $white;
    border: 1px transparent solid;
    display: inline-block;
    margin: 0;
  }

  .btn {
    background: $blue;
    border-radius: .4em;
    color: $white;
    font-size: .8em;
    font-weight: $normal;
    margin: .7em;
    padding: .5em 1em;
    text-align: center;
    width: 120px;
  }

  input,
  select {
    background: $white;
    border: 1px lighten($black, 70%) solid;
    border-radius: 4px;
    color: $black;
    font-size: .8em;
    height: 32px;
    padding: 0 34px 0 .5em;
    width: 100%;

    &:focus {
      border: 1px $blue solid;
      outline: none;
    }
  }

  button {
    border-radius: 10px;
    height: 30px;
    margin: 0 0 0 -40px;
    padding: 0;
    text-align: center;
    width: 32px;
  }
}

details {
  &[open] {
    summary::after {
      content: '';
    }
  }

  summary {
    display: inline-block;

    // scss-lint:disable PseudoElement
    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      color: $blue;
      content: ' ... Ver más';
      cursor: pointer;
    }
  }
}

.institution-logo {
  background: $white;
  border-radius: .4em;
  box-shadow: 1em 0 0 0 $white,
              -1em 0 0 0 $white,
              0 -1em 0 0 $white,
              0 1px 3em 0 transparentize($dark-blue, .7);
  display: inline-block;
  margin: 0 0 1em;
  padding: .3em;

  @media screen and (max-width: 639px) {
    margin: 0 0 2em;
  }

  img {
    border-radius: .3em;
  }
}

.nav {
  font-size: .8em;
  padding: 0 3em 0 0;

  strong {
    display: inline-block;
    line-height: 1.1;
    margin: 1em 0 0;
  }

  a {
    background: image-url('bullet-3.png') left .4em no-repeat;
    display: block;
    line-height: 1.1;
    margin: 1em 0;
    padding: 0 0 0 1em;
  }

  .home {
    @media screen and (min-width: 640px) {
      background: none;
      color: $blue;
      padding: 0;
    }
  }

  img {
    @media screen and (max-width: 639px) {
      display: none;
    }
  }

  .active {
    color: $blue;
  }
}

$pagination-hover: #202020;
$pagination-text-shadow: #171717;
$pagination-disabled: #c0c0c0;

.pagination {
  font-size: 12px;

  * {
    margin-right: .1em;
    padding: .3em .7em;
  }

  a:hover {
    background: $pagination-hover none repeat scroll 0 0;
    color: $white;
    text-shadow: 1px 1px 1px $pagination-text-shadow;
  }

  a:active {
    text-shadow: none;
  }

  .current {
    background: $pagination-hover none repeat scroll 0 0;
    color: $white;
    text-shadow: 1px 1px 1px $pagination-text-shadow;
  }

  .disabled {
    color: $pagination-disabled;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

.badge {
  background: $white;
  border-radius: 50%;
  color: $dark-blue;
  display: inline-block;
  font-size: .6rem;
  min-width: 2.1em;
  padding: .3em;
  text-align: center;
}

.official-cv {
  ul {
    font-size: .8em;
  }
}

.callout {
  background-color: $white;
  border-radius: 0;
  margin: 0 0 1rem;
  padding: 1rem;
  position: relative;
}

.callout-warning {
  background: $soft-warning;
}

.disclaimer {
  font-size: .8em;

  .row {
    margin-bottom: 5px;
  }
}

.error-page {
  h2 {
    text-transform: uppercase;
  }

  p {
    color: $black;
    font-size: 1em;
    line-height: 1.1;
    margin: 2.5em 3em 0;

    @media screen and (max-width: 639px) {
      margin: 2.5em 0 0;
    }
  }

  .categories {
    margin: 0 auto;
    max-width: 640px;
    padding: 2em 0 0;
    text-align: center;

    a {
      background: $blue;
      border-radius: 3px;
      color: $white;
      font-size: .9em;
      font-weight: $light;
      line-height: 1.6;
      margin: .3em .4em;
      padding: .2em .5em;
    }
  }
}

.jfilter {
  margin: 0 0 2em;

  input {
    height: 2.3em;
    line-height: 2.3;
    padding: 0 .5em;
    width: 100%;
  }
}


pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #357bf3;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
