.categories {
  nav {
    font-size: .8em;
    padding: 6em 3em 0 0;

    a {
      display: block;
      margin: 1em 0 2em;
    }

    .active {
      color: $blue;
    }
  }

  ul {
    font-size: .8em;
    list-style: none;
    margin: 0;
    padding: 0 1em 0 3em;

    @media screen and (max-width: 639px) {
      padding: 0 1em;
    }
  }

  li {
    background: image-url('bullet-2.png') left .75em no-repeat;
    padding: .4em 0 .4em 1em;

    a {
      color: $blue;
      line-height: 1.2;
    }
  }
}
