.header {
  @include linear-gradient(to bottom, $skyblue 0%, darken($skyblue, 20%) 100%);
  color: $white;
  padding: 1.2em 1em 1.6em;
  text-align: center;

  img {
    width: 81px;
  }

  .menu {
    margin: 0 0 1em;
    text-align: right;

    a {
      font-size: .9em;
      margin: 0 0 0 1em;
    }

    img {
      width: 21px;
    }
  }

  h1 {
    color: $white;
    font-size: 1.6em;
    font-weight: $light;
    margin: .4em 0;
  }

  h2 {
    border: 0;
    font-size: 1.4em;
    font-weight: $normal;
    line-height: 1.2;
    margin: 1.5em 0;
    padding: 0;
    text-align: center;
  }

  form {
    white-space: nowrap;
  }

  input,
  button {
    background: $white;
    border: 1px transparent solid;
    display: inline-block;
    height: 32px;
    margin: 0;
  }

  input {
    border-radius: 4px;
    color: $black;
    padding: 0 .5em;
    width: 90%;

    &:focus {
      border: 1px $blue solid;
      outline: none;
    }
  }

  button {
    border-radius: 10px;
    margin: 0 0 0 -40px;
    padding: 0;
    text-align: center;
    width: 32px;
  }

  .categories {
    margin: 0 auto;
    max-width: 640px;
    padding: 2em 0 0;

    a {
      background: $dark-blue;
      border-radius: 3px;
      font-size: .9em;
      font-weight: $extra-light;
      line-height: 1.6;
      margin: .3em .4em;
      padding: .2em .5em;
      white-space: nowrap;
    }
  }
}

.featured-standard {
  display: inline-block;
  line-height: 1.2;
  margin: 1.5em auto .5em;
  max-width: 150px;
  text-align: center;

  strong {
    display: block;
    font-size: 2em;
    font-weight: $light;
    margin: .5em 0;
  }
}
main.search {
  a:hover {
    text-decoration: underline;
  }

  .text-mutted {
    text-align: justify;
  }
}
