@media screen and (max-width:39.9375em) {
  .hide-for-small-only {
    display: none !important;
  }
}

@media screen and (max-width:0em),screen and (min-width:40em) {
  .show-for-small-only {
    display: none !important;
  }
}

@media print,screen and (min-width:40em) {
  .hide-for-medium {
    display: none !important;
  }
}

@media screen and (max-width:39.9375em) {
  .show-for-medium {
    display: none !important;
  }
}

@media screen and (min-width:40em) and (max-width:63.9375em) {
  .hide-for-medium-only {
    display: none !important;
  }
}

@media screen and (max-width:39.9375em),screen and (min-width:64em){
  .show-for-medium-only {
    display: none !important;
  }
}

@media print,screen and (min-width:64em){
  .hide-for-large {
    display: none !important;
  }
}

@media screen and (max-width:63.9375em){
  .show-for-large {
    display: none !important;
  }
}

@media screen and (min-width:64em) and (max-width:74.9375em){
  .hide-for-large-only {
    display: none !important;
  }
}

@media screen and (max-width:63.9375em), screen and (min-width:75em){
  .show-for-large-only {
    display: none !important;
  }
}
