nav {
  .placeholder {
    display: none !important;
  }

  @media screen and (max-width: 639px) {
    background: image-url('icon-open-nav.png') 96% center no-repeat !important;
    border: 1px darken($white, 40%) solid !important;
    border-radius: .4em !important;
    margin: 0 0 1em !important;
    padding: 0 !important;

    a,
    .placeholder {
      background: none !important;
      display: none !important;
      margin: 0 !important;
      padding: .5em !important;
    }

    strong {
      display: none !important;
    }

    .active {
      color: $dark !important;
      display: block !important;
    }

    .placeholder {
      display: block !important;
    }

    &.active {
      background: transparentize($dark-blue, .05) !important;
      border-radius: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      margin: 0 !important;
      overflow: auto !important;
      padding: 3em 0 !important;
      position: fixed !important;
      right: 0 !important;
      top: 0 !important;
      z-index: 10 !important;

      &::before {
        background: image-url('icon-close-nav.png') 0 0 no-repeat !important;
        content: '' !important;
        height: 28px !important;
        left: 1.5em !important;
        position: fixed !important;
        top: 1.5em !important;
        width: 28px !important;
      }

      .placeholder {
        display: none !important;
      }

      a {
        color: $white !important;
        display: block !important;
        font-size: 1em !important;
        line-height: 1.4 !important;
        padding: 1em 4em !important;
        text-align: center !important;
      }

      .active {
        background: transparentize(darken($dark-blue, 15%), .4) !important;
      }
    }
  }
}
