.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

- if current_admin.manage_dependencies?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_dependency_id
      .columns.small-18= f.select :institution_dependency_id, @institution_dependencies.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :objetive
    .columns.small-18= f.text_field :objetive
 
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_area :description, rows: 6

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :participation_requirements
    .columns.small-18= f.text_area :participation_requirements, rows: 6

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :result
    .columns.small-18= f.text_area :result, rows: 6

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :execution_date_begin
    .columns.small-18= f.date_select :execution_date_begin, { prompt: { day: 'Día', month: 'Mes', year: 'Año' } }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :execution_date_end
    .columns.small-18= f.date_select :execution_date_end, { prompt: { day: 'Día', month: 'Mes', year: 'Año' } }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :report

    - if f.object.persisted? && f.object.report.present?
      .columns.small-15= f.file_field :report
      .columns.small-2
        = link_to f.object.report.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :report
