%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

%script{ type: 'text/ng-template', id: '/date-filter-from-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Desde' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-from' => 'true', before: "params.filter()[name.replace('_gteq', '_lteq')]" }

%script{ type: 'text/ng-template', id: '/date-filter-to-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Hasta' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-to' => 'true', after: "params.filter()[name.replace('_lteq', '_gteq')]" }

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons border_color
            Editar

          - if policy(model).destroy?
            = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
              %i.material-icons delete
              Eliminar
      %td{ data: { title: "'Activo'" }, 'ng-if' => 'true', filter: "{ enabled_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'enabled'" }
        %input{ type: :checkbox, class: 'decorated-checkbox check', 'ng-model' => 'item.enabled', 'ng-click' => "submitField($event, 'enabled', item)" }

      %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.institution_id }}

      %td{ data: { title: "'Dependencia de institución'" }, 'ng-if' => 'true', filter: "{ institution_dependency_id_eq: 'select' }", 'filter-data' => "getSelectList('institution_dependencies')", sortable: "'institution_dependency'" } {{ item.institution_dependency_id }}

      %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}

      %td{ data: { title: "'Fecha de inicio de ejecución'" }, 'ng-if' => 'true', filter: "table.dateFilter('xecution_date_begin')", sortable: "'xecution_date_begin'" } {{ item.execution_date_begin | date:'dd/MM/yy hh:mm a' }}

      %td{ data: { title: "'Fecha de fin de ejecución'" }, 'ng-if' => 'true', filter: "table.dateFilter('execution_date_end')", sortable: "'execution_date_end'" } {{ item.execution_date_end | date:'dd/MM/yy hh:mm a' }}
