= hidden_field_tag :documents_name_or_description, params[:documents_name_or_description]
= hidden_field_tag :documents_year, params[:documents_year]
= hidden_field_tag :documents_document_category, params[:documents_document_category]
