- if documents.size > 0
  .panel#documents-area
    %h2 Documentos

    = form_tag(url, method: :get, class: "docs", id: "docs") do
      .filters
        .row.align-justify.align-middle
          .columns.small-24.medium-10.flex
            = text_field_tag "documents_name_or_description", nil, placeholder: 'Buscar documentos', value: params[:documents_name_or_description]
          .columns.small-24.medium-10.flex
            = select_tag "documents_year", options_for_select(years, selected: params[:documents_year]), {include_blank: "-- Todos los años --"}
          .columns.medium-3.flex
            = button_tag "Filtrar", class: "btn"
          .columns.small-24.medium-10.flex
            = select_tag "documents_document_category", options_for_select(document_categories.collect{|p| [ p.name, p.id ] }, selected: params[:documents_document_category]), { include_blank: "-- Todas las categorías de documentos --" } rescue nil

    - if doc_items.size > 0
      .table.spaced
        - doc_items.each do |document|
          .row.shareable

            .columns.small-24.medium-24.large-20.small-order-1.medium-order-1.large-order-1
              - if document.document.exists?
                = link_to download_institution_document_url(document.institution_id, document), :target => "_blank" do
                  = document.name
              - else
                = document.name
            .columns.small-12.medium-8.large-4.small-order-4.medium-order-4.large-order-3
              = "#{document.file_extension.size > 8 ? 'file': document.file_extension.downcase} | #{number_to_human_size(document.document.size)}" rescue ""
            .columns.small-24.medium-24.large-20.small-order-3.medium-order-2.large-order-4
              .text-mutted
                = raw summarized_text(document.description, 22, true)
              .text-bold
                = document.document_category.name rescue ""
                %br
                = "Año: " + document.year.to_s rescue ""
              .text-bold
                = document.active ? "Vigente" : ""
              .text-mutted
                = "Creación: " + l(document.created_at, format: :localized2) rescue ""
                %br
                = "Actualización: " + l(document.updated_at, format: :localized2) rescue ""
            .columns.small-12.medium-8.large-4.small-order-5.medium-order-5.large-order-5
              - if document.document.exists?
                = link_to nil, data: { sharer: true, provider: :facebook, url: "#{request.original_url}#{document.document.url}"} do
                  = image_tag 'icon-share.png'
                  Compartir
        %br
        = will_paginate doc_items, :param_name => "document_page"

    - else
      %h2 No se encontraro resultados
