.row.align-center

  .columns.small-24.medium-7.large-5
    %nav
      - @institution_types.each do |institution_type|
        = link_to "#{institution_type.name} (#{institution_type.how_many?})", category_url(institution_type), class: institution_type.id == @category.id ? 'active' : ''

  .columns.small-24.medium-15.large-18
    %h1
      = "#{@category.name} (#{@category.how_many?})"
    .panel.v2
      .jfilter
        = text_field_tag 'jfilter', '', placeholder: 'Filtrar ...'

      .row.align-spaced
        - unless @institutions.size < 1
          - size = (@institutions.size / 2.0).ceil
          - method = show_acronym? ? :full_name : :name
          - @institutions.each_slice(size) do |slice|
            .columns.small-24.medium-24.large-12
              %ul
                - slice.each do |institution|
                  - if institution.external_transparency_site_url.blank?
                    %li.filtrable= link_to institution.send(method), institution_url(institution)
                  - else
                    %li.filtrable= link_to institution.send(method), institution.external_transparency_site_url, target: "_blank"
