:javascript
  (function(w,d,s,g,js,fs){
    g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
    js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
    js.src='https://apis.google.com/js/platform.js';
    fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
  }(window,document,'script'));

  google.load('visualization', '1', {
    packages: ['corechart', 'bar', 'table']
  })

:javascript
  gapi.analytics.ready(function() {

    gapi.analytics.auth.authorize({ serverAuth: { access_token: '#{@access_token}' } })

    account_id    = 'ga:161177170'
    start_date    = '30daysAgo'
    end_date      = 'yesterday'
    permited_ins  = #{institutions.nil? ? 'null' : institutions }
    institutions  = #{institutions.nil? ? 'null' : institutions }
    params        = { 'start-date': start_date, 'end-date': end_date }
    default_filer = 'ga:contentgroup2!=(not set)'

    function institutionsFilter() {
      if (institutions == null) {
        return null;
      }
      return institutions.map(function (i) {
        return 'ga:contentgroup1==' + i
      }).join(',')
    }

    if (institutions !== null) {
      params = Object.assign(
        params,
        { filters: [default_filer, institutionsFilter()].join(';') }
      )
    }

    function query (params) {
      return new Promise(function(resolve, reject) {
        var data = new gapi.analytics.report.Data({ query: params });
        data.once('success', function(response) { resolve(response); })
            .once('error', function(response) { reject(response); })
            .execute();
      });
    }

    standardsCharts = function (config) {
      this.config = config

      this.set = function (settings) {
        for (k in settings) {
          this.config[k] = Object.assign(this.config[k], settings[k])
        }
      }

      this.execute = function () {
        Promise.resolve(query(this.config.query)).then(function(result) {
          dictionary = JSON.parse('#{@information_standards.to_json}')

          rows = result.rows.map(function(e) {
            if(typeof(dictionary[e[0]]) === 'undefined')
              return [e[0], parseInt(e[1])]

            return [dictionary[e[0]], parseInt(e[1])]
          })

          rows.unshift(['Estándares', 'Usuarios'])
          data = google.visualization.arrayToDataTable(rows)

          var optos = { height: 600, width: '100%' }
          var chart = new google.charts.Bar(document.getElementById('standards-chart'))
          chart.draw(data, optos)
        })
      }
    }

    // Users chart
    users_config = {
      query: { ids: account_id, metrics: 'ga:users', dimensions: 'ga:date' },
      chart: { container: 'users-chart', type: 'LINE', options: { width: '100%' } }
    }
    users_chart = new gapi.analytics.googleCharts.DataChart(users_config)
    users_chart.set({ query: params })
    users_chart.execute()

    // Browsers chart
    browsers_config = {
      query: { ids: account_id, metrics: 'ga:users', dimensions: 'ga:browser' },
      chart: { container: 'browsers-chart', type: 'PIE', options: { width: '100%' } }
    }
    browsers_chart = new gapi.analytics.googleCharts.DataChart(browsers_config)
    browsers_chart.set({ query: params })
    browsers_chart.execute()

    // Cities chart
    cities_config = {
      query: { ids: account_id, metrics: 'ga:users', dimensions: 'ga:city' },
      chart: { container: 'cities-chart', type: 'GEO', options: { width: '100%', region: 'SV', resolution: 'provinces' } }
    }
    cities_chart = new gapi.analytics.googleCharts.DataChart(cities_config)
    cities_chart.set({ query: params })
    cities_chart.execute()

    // Countries chart
    countries_config = {
      query: { ids: account_id, metrics: 'ga:users', dimensions: 'ga:country' },
      chart: { container: 'countries-chart', type: 'PIE', options: { width: '100%' } }
    }
    countries_chart = new gapi.analytics.googleCharts.DataChart(countries_config)
    countries_chart.set({ query: params })
    countries_chart.execute()

    // Standards chart
    standards_config = {
      query: { ids: account_id, metrics: 'ga:users', dimensions: 'ga:contentgroup2' }
    }
    standards_chart  = new standardsCharts(standards_config)
    standards_chart.set({ query: params })
    standards_chart.execute()

    $('#start_dt').on('change', function () {
      start_date = $(this).val()
      updateCharts()
    })

    $('#end_dt').on('change', function () {
      end_date = $(this).val()
      updateCharts()
    })

    $('#institution').on('change', function () {
      if ($(this).val() !== '') {
        institutions = [$(this).val()]
      }
      else {
        #{current_admin.admin? ? 'institutions = null' : 'institutions = permited_ins' }
      }
      updateCharts()
    })

    updateCharts = function () {
      params = { 'start-date': start_date, 'end-date': end_date }
      filters = { filters: null }
      if (institutions !== null) {
        filters = {
          filters: [default_filer, institutionsFilter()].join(';')
        }
      }

      params = Object.assign(params, filters)

      users_chart.set({ query: params })
      users_chart.execute()

      browsers_chart.set({ query: params })
      browsers_chart.execute()

      cities_chart.set({ query: params })
      cities_chart.execute()

      countries_chart.set({ query: params })
      countries_chart.execute()

      standards_chart.set({ query: params })
      standards_chart.execute()

      standardsDownloaded()
      documentsDownloaded()
    }

    function standardsDownloaded () {
      data = {}
      if (institutions !== null) { data = { ids: institutions } }
      $.post('./statistics/standards_downloaded', data, function (result) {
        result.unshift(['Estándar', 'Descargas'])
        data = google.visualization.arrayToDataTable(result)
        var chart = new google.visualization.PieChart(document.getElementById('standars-downloaded-chart'))
        var table = new google.visualization.Table(document.getElementById('standars-downloaded-table'))
        chart.draw(data)
        table.draw(data, { width: '100%' })
      })
    }
    standardsDownloaded()

    function documentsDownloaded () {
      data = {}
      if (institutions !== null) { data = { ids: institutions } }
      $.post('./statistics/documents_downloaded', data, function (result) {
        result.unshift(['Documento', 'Descargas'])
        data = google.visualization.arrayToDataTable(result)
        var chart = new google.visualization.PieChart(document.getElementById('documents-downloaded-chart'))
        var table = new google.visualization.Table(document.getElementById('documents-downloaded-table'))
        chart.draw(data)
        table.draw(data, { width: '100%' })
      })
    }
    documentsDownloaded()
  })

%section
  .header
    .row.align-middle
      .columns
        %h1
          %i.material-icons list
          = t 'activerecord.models.statistic', count: :many

  .breacrumb
    = render_breadcrumbs separator: ' / '

  .alert.info.text-left
    %p
      %strong.text-upper Versión Beta
    %p
      Esta funcionalidad aún está en período de pruebas y mejoras, puede que
      falten algunas características o no funcionen correctamente.
      %br
      La información aquí mostrada comenzó a recolectarse el
      %strong 24 de Octubre de 2017.
      No existen datos previos a dicha fecha.

  .row
    .columns.small-24
      .charts-filters
        - if !current_admin.one_institution? || current_admin.admin?
          .control
            = label_tag :institution, 'Institución:'
            = select_tag :institution, options_for_select(@institutions.map{ |i| ["#{i.acronym} | #{i.name}", i.id] }), include_blank: '-- Todas --'

        .control
          = label_tag :start_dt, 'Desde:'
          = date_field_tag :start_dt, (Date.current - 30.days), max: Date.current

        .control
          = label_tag :start_dt, 'Hasta:'
          = date_field_tag :end_dt, (Date.current - 1.days), max: (Date.current - 1.days)

  .row.align-stretch
    .columns.small-24.medium-12.large-12
      .container.chart
        %h1 Usuarios
        #users-chart

    .columns.small-24.medium-12.large-12
      .container.chart
        %h1 Usuarios por navegador
        #browsers-chart

    .columns.small-24.medium-12.large-12
      .container.chart
        %h1 Usuarios SV por departamento
        #cities-chart

    .columns.small-24.medium-12.large-12
      .container.chart
        %h1 Usuarios por país
        #countries-chart

    .columns.small-24
      .container.chart
        %h1 Usuarios por estándar
        #standards-chart

    .columns.small-24.medium-12.large-12
      .container.chart
        %h1 Estándares más descargados
        #standars-downloaded-chart

    .columns.small-24.medium-12.large-12
      .container.chart
        %h1 Estándares más descargados
        #standars-downloaded-table

    .columns.small-24.medium-12.large-12
      .container.chart
        %h1 Documentos más descargados
        #documents-downloaded-chart

    .columns.small-24.medium-12.large-12
      .container.chart
        %h1 Documentos más descargados
        #documents-downloaded-table
