%hot-table{ datarows: 'items', settings: "{stretchH: 'last', colHeaders: 'true', renderAllRows: 'true'}", 'row-headers' => 'true' }
  %hot-column{ data: 'record_status', title: "'Estado'", 'read-only': true }
  %hot-column{ data: 'enabled', title: "'Activo'", type: "'checkbox'", 'checked-template' => "'true'", 'unchecked-template' => "'false'" }

  - unless current_admin.one_institution?
    %hot-column{ data: 'institution_id', title: "'Institución'", type: "'autocomplete'", strict: "'true'" }
      %hot-autocomplete{ datarows: "name in gridOptions('institutions')" }

  %hot-column{ data: 'year', title: "'Año'", type: "'numeric'", format: "'0000'" }
  %hot-column{ data: 'adquisition_code', title: "'Código de adquisición o contratación'" }
  %hot-column{ data: 'priority', title: "'Correlativo'" }
  %hot-column{ data: 'name', title: "'Objeto'" }
  %hot-column{ data: 'institutional_area', title: "'Área institucional'" }
  %hot-column{ data: 'amount', title: "'Monto'", type: "'numeric'", format: "'$0.00'" }
  %hot-column{ data: 'counterpart_name', title: "'Nombre de la contraparte'" }
  %hot-column{ data: 'counterpart_info', title: "'Características de la contraparte'" }
  %hot-column{ data: 'compliance_deadlines', title: "'Plazos de cumplimiento'" }
  %hot-column{ data: 'form_of_contract', title: "'Forma de contratación'" }
  %hot-column{ data: 'start_date', title: "'Fecha de contrato / orden de compra'" }
  %hot-column{ data: 'contract_code', title: "'Código de contrato / orden de compra'" }

- content_for :filters do
  .grid-filters
    .row.align-spaced.align-middle

      - unless current_admin.one_institution?
        .columns.small-5
          = label_tag nil, 'Institución'
          %select{ 'ng-model' => 'filters.institution_id_eq', 'ng-options' => "item.id as item.name for item in gridOptions('institutions')" }
            %option{ value: '' }

      .columns.small-2
        = label_tag nil, 'Año'
        %input{ 'ng-model' => 'filters.year_eq' }

      .columns.small-5
        %br
        = link_to nil, class: 'btn blue', 'ng-click' => 'filter($event)' do
          %span.material-icons filter_list
          Filtrar
