.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :enabled
    .columns.small-18= f.check_box :enabled, class: 'decorated-checkbox box'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :active
    .columns.small-18= f.check_box :active, class: 'decorated-checkbox box'

- unless current_admin.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, include_blank: true

- if current_admin.manage_dependencies?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_dependency_id
      .columns.small-18= f.select :institution_dependency_id, @institution_dependencies.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :committee_id
    .columns.small-18= f.select :committee_id, @committees.map{ |i| [i.name, i.id] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :priority
    .columns.small-18= f.text_field :priority

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :position
    .columns.small-18= f.text_field :position

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :functions
    .columns.small-18= f.text_area :functions, rows: 4

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :phone
    .columns.small-18= f.text_field :phone

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :email
    .columns.small-18= f.text_field :email

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :address
    .columns.small-18= f.text_area :address, rows: 2

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :curriculum
    .columns.small-18= f.cktext_area :curriculum, ckeditor: { toolbar: 'basic', height: 400 }
