!!! 5
%html{ lang: I18n.locale }
  %head
    = display_meta_tags
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }

    -# = display_meta_tags

    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'shortcut icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon-precomposed' }

    = stylesheet_link_tag :application

    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = javascript_include_tag :application

    = csrf_meta_tags

    = render partial: 'layouts/application/analytics'
  %body
    -# = @information_standard.name rescue nil
    = render partial: 'layouts/application/header'
    = render partial: 'layouts/application/breadcrumb'
    %main{ class: [controller_name.dasherize, action_name.dasherize] }
      .container
        = yield
    = render partial: 'layouts/application/footer'
