!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }

    %title Panel de control | Transparencia SV

    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'shortcut icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon-precomposed' }

    = stylesheet_link_tag :panel
    = javascript_include_tag :panel
    -# = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = javascript_include_tag 'https://www.google.com/jsapi'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBihwPmyzbsIiMePF3j9ak60RZvgAfr3dM&callback=initMap', async: true, defer: true
    = csrf_meta_tags

  %body{ 'ng-app' => 'panel' }
    = render partial: 'layouts/panel/header'

    %main{ class: [controller_name, action_name] }
      = yield
